---
import TextSection from "../../components/TextSection.astro";
import Layout from "../../layouts/Layout.astro";
import ArticleWrited from "../../components/normas/ArticleWrited.astro";
import SectionWrited from "../../components/normas/SectionWrited.astro";
import ButtonRP from "../../components/ButtonRP.astro";
---

<Layout
  title="ProgresoRP - Leete las normas de nuestro servidor"
  description="TODO"
>
  <TextSection text="Normativa SAMD - ProgresoRP" subtext="TODO" />

  <div class="flex flex-col gap-2 md:flex-row justify-between items-center">
    <ButtonRP go="/normativas/generales" text="Generales" />
    <ButtonRP go="/normativas/sapd" text="SAPD" />
    <ButtonRP go="/normativas/samd" text="SAMD" />
    <ButtonRP go="/normativas/staff" text="STAFF" />
    <ButtonRP go="/normativas/actos-delictivos" text="Actos Delictivos" />
  </div>

  <SectionWrited id="1" title="1. NORMAS GENERALES">
    <ArticleWrited title="ART.1">
      <p>
        Los médicos deberán siempre de estar en una posición neutral a la hora
        de atender a civiles, no se podrá dar ventaja a nadie, esto quiere decir
        que nada de favoritismo o amiguismo a la hora de atender pacientes.
      </p>
    </ArticleWrited>

    <ArticleWrited title="ART.2">
      <p>
        Siempre a la hora de atender varios civiles heridos se le dará prioridad
        al que esté en un estado más grave.
      </p>
      <p>
        En caso excepcionales se le dará prioridad a la policía en el caso de
        que haya agentes policiales heridos.
      </p>
    </ArticleWrited>

    <ArticleWrited title="ART.3">
      <p>
        A la hora de patrullar se deberá llevar la ropa de patrulla
        correspondiente. Además no estará permitido llevar pistoleras o
        similares estando de servicio, al igual que máscaras o pinturas
        faciales.
      </p>
    </ArticleWrited>

    <ArticleWrited title="ART.4">
      <p>
        Estando de servicio no se podrá portar ni armas blancas ni armas de
        fuego. Además una vez finalizado el servicio todo lo correspondiente al
        centro médico se dejará de vuelta en el armario del hospital (vendas,
        medikits, etc.)
      </p>
    </ArticleWrited>

    <ArticleWrited title="ART.5">
      <p>
        Está completamente prohibido quedarse AFK estando de servicio, de ser
        así podrá acarrear una sanción grave por parte del hospital e incluso de
        manera administrativa. En caso de estar AFK por una urgencia, avisar al
        rango más alto del hospital que se encuentre en ese momento.
      </p>
    </ArticleWrited>

    <ArticleWrited title="ART.6">
      <p>
        Está terminantemente prohibido el uso de vehículos del hospital para uso
        y disfrute personal. En caso contrario, la administración sancionará al
        usuario que lo emplee. Además el vehículo de trabajo de SAMD es para ir
        única y exclusivamente a los avisos y no se emplea como taxi (ni hacer
        favores).
      </p>
    </ArticleWrited>

    <ArticleWrited title="ART.7">
      <p>
        La facción de los SAMD es una facción legal por lo que se debe de
        interpretar el personaje como alguien legal (no puedes pertenecer a
        ninguna facción ilegal). Esto quiere decir que no se podrá cometer actos
        delictivos ni colaborar con organizaciones criminales.
      </p>
    </ArticleWrited>

    <ArticleWrited title="ART.8">
      <p>
        En ningún momento se podrá compartir información personal o informes de
        pacientes a cualquier ciudadano. La información solo se brindará a la
        policía en caso de ser necesario y reclamada por parte de la misma.
      </p>
    </ArticleWrited>

    <ArticleWrited title="ART.9">
      <p>
        Para ir a un aviso, mínimo deben de haber 2 médicos en el servidor, por
        lo tanto el hospital no se puede quedar vacío.
      </p>
    </ArticleWrited>

    <ArticleWrited title="ART.10">
      <p>
        En caso de acudir a un aviso, asegurarse que es una zona tranquila, por
        lo que si llegamos y vemos que hay un tiroteo en curso nos iremos de
        inmediato a nuestro puesto de trabajo en el hospital.
      </p>
    </ArticleWrited>

    <ArticleWrited title="ART.11">
      <p>
        Siempre que se reanime a un ciudadano se deberá seguir el rol
        dependiendo de las heridas que tenga y del por qué haya entrado en coma.
      </p>
    </ArticleWrited>

    <ArticleWrited title="ART.12">
      <h4>
        Será obligatorio disponer de estos ítems como mínimo durante el
        servicio:
      </h4>
      <ul>
        <li>10 de bocadillo</li>
        <li>10 de agua</li>
        <li>5 botiquines</li>
        <li>6 vendajes</li>
      </ul>
      <p class="separate">
        Podremos dispensar a los pacientes que lo necesiten 3 raciones de agua y
        bocadillo.
      </p>
    </ArticleWrited>

    <ArticleWrited title="ART.13">
      <p>
        Queda totalmente prohibido no cobrar por los servicios ofrecidos, es
        obligatorio cobrar por nuestro trabajo (en el caso de que no tenga
        seguro médico).
      </p>
    </ArticleWrited>

    <ArticleWrited title="ART.14">
      <p>
        Abusar de alguien por las razones que sean o putear a esa persona con un
        diagnóstico que no merece es motivo de sanción grave o expulsión del
        cuerpo.
      </p>
    </ArticleWrited>

    <ArticleWrited title="ART.15">
      <p>
        Nada más entrar de servicio, es obligatorio acceder al canal de radio
        establecido por los jefes de la SAMD.
      </p>
    </ArticleWrited>

    <ArticleWrited title="ART.16">
      <p>
        Si el SAMD no entra en servicio durante 15 días se le procederá a
        expulsar del cuerpo. Si alguien tiene algún problema por el que no pueda
        entrar en servicio se deberá informar a los altos cargos.
      </p>
    </ArticleWrited>

    <ArticleWrited title="ART.17">
      <p>
        Se tiene que hacer uso del /me y /do para atender a los pacientes
        roleando heridas, situación del paciente, etc…
      </p>
      <h4>Ejemplo:</h4>
      <ul>
        <li>/me le examina</li>
        <li>/me le toma el pulso</li>
        <li>/do ¿tendría pulso?</li>
        <li>/me le aplica la técnica RCP</li>
        <li>/do ¿qué heridas tendría?</li>
      </ul>
      <div
        class="mt-[10px] text-center bg-[#F93D0A]/10 bg-blur w-full relative backdrop-blur backdrop-filter p-4 rounded-md shadow-xl"
      >
        <p>
          <span class="font-bold uppercase"
            >*Si el jugador no contesta a un /do a la hora de tomar el pulso lo
            podríamos considerar como CK*</span
          >
        </p>
        <p>
          Para asegurarnos (ya que no sabemos si el usuario está teniendo algún
          problema) haremos uso del /dado
        </p>
      </div>
    </ArticleWrited>

    <ArticleWrited title="ART.18">
      <p>
        Los helicópteros solo se pueden utilizar en situaciones de emergencia
        extrema o difícil acceso, siempre bajo orden de mando. Además el piloto
        del helicóptero tendrá que pasar un examen en la academia de vuelo de la
        ciudad.
      </p>
    </ArticleWrited>

    <ArticleWrited title="ART.19">
      <p>
        En caso de encontrar a alguien enmascarado dentro del hospital, se le
        deberá pedir que se quite la máscara y avisar a la policía mandando un <span
          class="accent">/entorno</span
        >.
      </p>
      <h4>Ejemplo:</h4>
      <ul>
        <li>
          /entorno Buenas tardes llamaba desde las inmediaciones del Hospital de
          la ciudad, me gustaría informarles que por la zona se encuentra una
          persona enmascarada que no para de entrar y salir del Hospital
        </li>
      </ul>
    </ArticleWrited>

    <ArticleWrited title="ART.20">
      <p>
        Siempre que un paciente que vaya al hospital o pida ayuda en carretera y
        tenga una herida de bala, se tendrá que notificar a la policía para
        darle la bala extraída y que puedan investigar.
      </p>
    </ArticleWrited>

    <ArticleWrited title="ART.21">
      <p>
        Para solicitar vendas o medicamentos se deberá de disponer de un seguro
        médico el cual le otorga ese beneficio de manera semanal:
      </p>
      <ul>
        <li>5 vendas → Seguro básico</li>
        <li>8 vendas → Seguro avanzado</li>
        <li>4 medicamentos → Seguro avanzado</li>
      </ul>
      <div
        class="mt-[10px] text-center bg-[#F93D0A]/10 bg-blur w-full relative backdrop-blur backdrop-filter p-4 rounded-md shadow-xl"
      >
        <p>
          <span class="font-bold uppercase"
            >*La venta de vendas/medicamentos queda terminantemente prohibida
            entre usuarios*</span
          >
        </p>
        <p>
          Los SAMD tiene terminantemente prohibido vender vendas o medicamentos
          a los civiles, esto se entregará exclusivamente con los seguros
          médicos y bajo control del jefe de la SAMD
        </p>
      </div>
    </ArticleWrited>

    <ArticleWrited title="ART.22">
      <p>
        Cuando un paciente quiera cambiar su aspecto físico ,se tendrá que hacer
        un rol para una cirugía plástica. Este rol, lo tendrá que desempeñar un
        cirujano o un alto cargo.
      </p>
      <div
        class="mt-[10px] text-center bg-[#F93D0A]/10 bg-blur w-full relative backdrop-blur backdrop-filter p-4 rounded-md shadow-xl"
      >
        <p>
          <span class="font-bold uppercase"
            >*En caso de querer hacerlo, se deberá de crear ticket en
            #📩┃𝖢𝖱𝖤𝖠𝖱-𝖳𝖨𝖢𝖪𝖤𝖳*</span
          >
        </p>
        <p>
          Argumentando los motivos de la cirugía y esperar la aprobación de
          administración
        </p>
      </div>
    </ArticleWrited>

    <ArticleWrited title="ART.23">
      <p>
        Es obligatorio fichar con la entrada y hora de salida en el discord de
        los SAMD
      </p>
    </ArticleWrited>
  </SectionWrited>

  <SectionWrited id="2" title="2. SEGUROS MÉDICOS">
    <p>
      Siempre que atendamos a ciudadanos sin seguro médico deberemos de informar
      al paciente de los distintos seguros médicos de los que disponemos.
    </p>
    <h4 class="separate">SEGURO MÉDICO BÁSICO (1.500$/mes)</h4>
    <ul>
      <li>Vendas</li>
      <li>Asistencia en carretera</li>
      <li>Trato en el hospital</li>
    </ul>
    <h4 class="separate">SEGURO MÉDICO AVANZADO (4.500$/mes)</h4>
    <ul>
      <li>Vendas</li>
      <li>Medicamentos</li>
      <li>Asistencia en carretera</li>
      <li>Asistencia aérea</li>
      <li>Operaciones</li>
      <li>Psicotécnico</li>
      <li>Trato en el hospital</li>
    </ul>
    <p class="separate text-sm italic text-gray-500/75">
      Los miembros del cuerpo policial tienen asistencia gratuita.
    </p>
    <div
      class="mt-[10px] text-center bg-[#F93D0A]/10 bg-blur w-full relative backdrop-blur backdrop-filter p-4 rounded-md shadow-xl"
    >
      <p>
        <span class="font-bold uppercase"
          >*Todos los seguros estarán notificados en discord por los jefes de la
          SAMD*
        </span>
      </p>
    </div>
  </SectionWrited>

  <SectionWrited id="3" title="3. SIN DISPONIBILIDAD DE SEGUROS MÉDICOS">
    <ul>
      <li class="text-xl font-bold uppercase">ATENCIÓN EN HOSPITAL → 500$</li>
      <li class="text-xl font-bold uppercase">ASISTENCIA EN CARRETERA → 700$</li>
      <li class="text-xl font-bold uppercase">ASISTENCIA AÉREA → 1.500$</li>
      <li class="text-xl font-bold uppercase">OPERACIONES → 2.500$</li>
      <li class="text-xl font-bold uppercase">PSICOTÉCNICO → 600$</li>
      <li class="text-xl font-bold uppercase">OPERACIONES ESTÉTICAS → 10.000$</li>
    </ul>
  </SectionWrited>

  <style>
    h4 {
      font-style: italic;
      text-transform: capitalize;
      font-weight: bold;
    }

    .accent {
      background: #1fc1d721;
      padding-inline: 3px;
      padding-top: 1px;
      padding-bottom: 2px;
      border-radius: 3px;
      font-weight: bold;
    }

    .separate {
      margin-top: 8px;
    }

    ul {
      list-style: inside;
      margin-left: 10px;
    }

    a {
      text-decoration: underline;
    }
  </style>
</Layout>
