---
import { marked } from "marked";
import { ID } from "appwrite";
import { databases } from "../../lib/appwriter";

import AdminRouteLayout from "../../layouts/AdminRouteLayout.astro";
import TextSection from "../../components/TextSection.astro";
import DescripcionPostsForm from "../../components/postComponents/DescripcionPostsForm.astro";
import ContenidoPostsForm from "../../components/postComponents/ContenidoPostsForm.astro";
import ButtonPostsForm from "../../components/postComponents/ButtonPostsForm.astro";
import TituloPostsForm from "../../components/postComponents/TituloPostsForm.astro";
import UrlPostsForm from "../../components/postComponents/UrlPostsForm.astro";
import ImagenPostsForm from "../../components/postComponents/ImagenPostsForm.astro";

if (Astro.request.method === "POST") {
  const formData = await Astro.request.formData();

  // Convierte el contenido markdown
  const content = await marked(String(formData.get("content")));

  // Construye el objeto de datos
  const data = {
    title: formData.get("title"),
    slug: formData.get("slug"),
    content,
    excerpt: formData.get("excerpt"),
    imagepost: formData.get("imagepost"),
  };

  // Crea el documento en la base de datos
  const results = await databases.createDocument(
    "66454d410036db55430c",
    "6646440e002c2d76fb23",
    ID.unique(),
    data
  );

  // Redirecciona al nuevo post
  return Astro.redirect(`/posts/${results.slug}`);
}
---

<AdminRouteLayout
  title="New Post"
  description="Escribe y desarrolla tu nuevo artículo en este formulario y lo publicarás en la página de /blog."
>
  <TextSection
    text="CREAR UN NUEVO ÁRTICULO - PROGRESORP"
    subtext="Escribe y desarrolla tu nuevo artículo en este formulario y lo publicarás en la página de /blog."
  />
  <hr
    class="mt-2 mb-12 h-px border-t-0 bg-transparent bg-gradient-to-r from-transparent to-transparent opacity-25 via-neutral-400"
  />

  <div>
    <form id="articleForm" method="POST" enctype="multipart/form-data">
      <TituloPostsForm />

      <DescripcionPostsForm />

      <UrlPostsForm />

      <ImagenPostsForm />

      <ContenidoPostsForm />

      <ButtonPostsForm />
    </form>
  </div>
</AdminRouteLayout>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const form = document.getElementById("articleForm") as HTMLFormElement;
    const slugInput = document.getElementById("slug") as HTMLInputElement;

    form.addEventListener("submit", (event: Event) => {
      const slugValue = slugInput.value;
      const slugPattern = /^[a-zA-Z0-9\s-]+$/;

      if (!slugPattern.test(slugValue)) {
        alert("El campo URL solo puede contener letras, números y guiones.");
        slugInput.focus();
        event.preventDefault();
      }
    });
  });
</script>
