---
import { marked } from 'marked'
import { ID } from 'appwrite'
import { databases } from '../../lib/appwriter'

import Layout from "../../layouts/Layout.astro";
import SectionWrited from "../../components/normas/SectionWrited.astro";

if ( Astro.request.method === 'POST') {
    const formData = await Astro.request.formData()
    const content = await marked(String(formData.get('content')))
    const data = {
        title: formData.get('title'),
        slug: formData.get('slug'),
        content,
        excerpt: formData.get('excerpt'),
    }
    const results = await databases.createDocument(
    '66454d410036db55430c',
    '66454d72000dd1e4a6ba',
    ID.unique(),
    data
);
return Astro.redirect(`/posts/${results.slug}`)

    
}
---

<Layout title="New Post" description="TODO">
  <SectionWrited title="Escribe el nuevo post">
    <form method="POST">
      <div class="mb-6">
        <label class="block text-sm font-semibold mb-3" for="title">Title</label
        >
        <input
          id="title"
          class="p-2 rounded-md mb-2 bg-sky-50/5 outline-none resize-none border-l-2 border-sky-50/20 focus:border-l-2 focus:border-sky-300/60 focus:bg-sky-50/10 transition duration-300 w-full"
          type="text"
          name="title"
        />
      </div>
      <div class="mb-6">
        <label class="block text-sm font-semibold mb-3" for="slug">Slug</label>
        <input
          id="slug"
          class="p-2 rounded-md mb-2 bg-sky-50/5 outline-none resize-none border-l-2 border-sky-50/20 focus:border-l-2 focus:border-sky-300/60 focus:bg-sky-50/10 transition duration-300 w-full"
          type="text"
          name="slug"
        />
      </div>
      <div class="mb-6">
        <label class="block text-sm font-semibold mb-1" for="content"
          >Content</label
        >
        <p class="text-xs text-slate-600 italic mb-3">Supports Markdown</p>
        <textarea
          id="content"
          class="p-2 rounded-md min-h-44 mb-2 bg-sky-50/5 outline-none resize-none border-l-2 border-sky-50/20 focus:border-l-2 focus:border-sky-300/60 focus:bg-sky-50/10 transition duration-300 w-full"
          name="content"></textarea>
      </div>
      <div class="mb-6">
        <label class="block text-sm font-semibold mb-3" for="excerpt"
          >Excerpt</label
        >
        <input
          id="excerpt"
          class="p-2 rounded-md mb-2 bg-sky-50/5 outline-none resize-none border-l-2 border-sky-50/20 focus:border-l-2 focus:border-sky-300/60 focus:bg-sky-50/10 transition duration-300 w-full"
          type="text"
          name="excerpt"
        />
      </div>
      <button
        class="inline-block rounded py-2.5 px-6 text-sm font-bold uppercase text-white bg-slate-600 hover:bg-slate-500 dark:bg-slate-500 dark:hover:bg-slate-400"
        >Submit</button
      >
    </form>
  </SectionWrited>
</Layout>
