---
import TextSection from "../../components/TextSection.astro";
import Layout from "../../layouts/Layout.astro";
import ArticleWrited from "../../components/normas/ArticleWrited.astro";
import SectionWrited from "../../components/normas/SectionWrited.astro";
import ButtonRP from "../../components/ButtonRP.astro";
import Rangos from "../../components/normas/Rangos.astro";
---

<Layout
  title="ProgresoRP - Leete las normas de nuestro servidor"
  description="TODO"
>
  <TextSection text="Normativa LSPD - ProgresoRP" subtext="TODO" />

  <div class="flex flex-col gap-2 md:flex-row justify-between items-center">
    <ButtonRP go="/normas/generales" text="Generales" />
    <ButtonRP go="/normas/sapd" text="SAPD" />
    <ButtonRP go="/normas/samd" text="SAMD" />
    <ButtonRP go="/normas/staff" text="STAFF" />
    <ButtonRP go="/normas/actos-delictivos" text="Actos Delictivos" />
  </div>

  <SectionWrited title="CONSTITUCIÓN DEL ESTADO DE SAN ANDREAS">
    <header class="flex justify-center">
      <img
        src="/img/constituciondeestado.webp"
        alt="Imagen de la constitucion del estado de san andreas"
      />
    </header>
    <p class="mt-5">
      La Constitución es uno de los documentos más importantes del estado de San
      Andreas, en el cual se acota la legalidad vigente dentro de todo el
      panorama estatal.
    </p>
    <p class="separate mb-10">
      En este documento se reúne en un conjunto de artículos todos los derechos
      y deberes de los residentes en el estado de San Andreas. Este mismo
      documento defiende como primer objetivo el disfrute de la libertad dentro
      del territorio de la isla. Todos estos artículos han sido evaluados y
      aprobados por la cámara de representantes de la isla y por el gobernador.
      Es deber del departamento policial el asegurar la libertad de los
      residentes y controlar la estabilidad social, en base a unas directrices
      éticas, económicas y culturales, gracias a las normativas reunidas en este
      documento y las penas reunidas en el código penal.
    </p>
    <footer class="flex flex-col">
      <ButtonRP go="#codigoPenal" text="CÓDIGO PENAL" />
      <div class="mt-5 flex flex-col">
        <a href="#1">APARTADO I: DERECHOS FUNDAMENTALES</a>
        <a href="#2">APARTADO II: DERECHOS Y APLICACIONES DE LOS DECRETOS</a>
        <a href="#3">APARTADO III: LOS DECRETOS DE LEY Y SU NATURALEZA</a>
      </div>
    </footer>
  </SectionWrited>

  <SectionWrited id="1" title="APARTADO I: DERECHOS FUNDAMENTALES">
    <ArticleWrited title="ARTÍCULO.1">
      <p>
        Todos los ciudadanos tienen derecho a vivir una vida libre siempre que
        se respeten las normas adoptadas en el estado de San Andreas.
      </p>
    </ArticleWrited>

    <ArticleWrited title="ARTÍCULO.2">
      <p>
        Todos los ciudadanos obtendrán su <span class="accent"
          >mayoría de edad</span
        > al cumplir los 18 años. Los ciudadanos mayores de edad son responsables
        de su propia vida y no estarán bajo responsabilidad de ninguna otra persona.
      </p>
    </ArticleWrited>

    <ArticleWrited title="ARTÍCULO.2 (BIS)">
      <p>
        Los ciudadanos que tengan una discapacidad, ya sea física, sensorial o
        intelectual, tienen opción a la certificación de la discapacidad y el
        nombramiento de otro residente de la isla como su responsable siempre
        que el proceso esté revisado por un miembro del sistema sanitario y sea
        en mutuo acuerdo.
      </p>
    </ArticleWrited>

    <ArticleWrited title="ARTÍCULO.3">
      <p>
        La responsabilidad penal de un menor de edad será adoptada por su tutor
        legal. En caso de que el menor de edad realice un acto ilegal y el tutor
        legal no pueda hacerse responsable de las penas y condenas, el menor de
        edad será ubicado en un centro de menores hasta el cumplimiento de las
        condenas.
      </p>
    </ArticleWrited>

    <ArticleWrited title="ARTÍCULO.4">
      <p>
        Los ciudadanos tienen derecho a comprar o alquilar una vivienda digna,
        siempre que estas operaciones se realicen bajo el ámbito legal
        correspondiente.
      </p>
    </ArticleWrited>

    <ArticleWrited title="ARTÍCULO.5">
      <p>
        Los ciudadanos tienen derecho a circular libremente por todo el
        territorio del estado de San Andreas, excepto por las propiedades
        privadas del gobierno o zonas catalogadas como prohibidas por el estado.
        Las zonas prohibidas son: los aeropuertos de la isla, Base Militar de
        Fort Zancudo, la Prisión Federal de Bolingbroke y los edificios e
        instalaciones de las fuerzas y cuerpos del estado. En estas zonas las
        fuerzas del estado podrán abatir sin previo aviso, sobre todo en la Base
        Militar.
      </p>
    </ArticleWrited>

    <ArticleWrited title="ARTÍCULO.6">
      <p>Todos los ciudadanos son iguales ante la ley.</p>
    </ArticleWrited>

    <ArticleWrited title="ARTÍCULO.7">
      <p>
        La lengua oficial del estado de San Andreas será el <span class="accent"
          >inglés</span
        >.
      </p>
    </ArticleWrited>

    <ArticleWrited title="ARTÍCULO.8">
      <p>
        Todos los ciudadanos podrán contraer matrimonio sin limitaciones ante el
        género y etnia de la otra persona.
      </p>
    </ArticleWrited>

    <ArticleWrited title="ARTÍCULO.9">
      <p>
        Todos los ciudadanos podrán reunirse por todo el territorio del estado
        de San Andreas, salvo en las zonas catalogadas como prohibidas o en las
        propiedades privadas del estado, así como en las instalaciones y
        edificios públicos. Realizar este tipo de reuniones en las zonas
        mencionadas anteriormente se considera como la formación de una
        manifestación ilegal, y será reprimida y se actuará en base a la ley.
      </p>
    </ArticleWrited>

    <ArticleWrited title="ARTÍCULO.10">
      <p>
        Para poder realizar una <span class="accent">manifestación</span>, el
        encargado de esta debe avisar con 72 horas de anterioridad al
        departamento policial la creación de esta, así como la zona y el número
        aproximado de miembros. No necesitará ser aprobada, pero podrá ser
        revocada o pospuesta por el departamento policial.
      </p>
    </ArticleWrited>

    <ArticleWrited title="ARTÍCULO.11">
      <p>
        Todos los ciudadanos detenidos deberán recibir la lectura de sus
        derechos. Los miembros de los cuerpos y fuerzas de seguridad del estado
        podrán obviar este deber siempre que su vida o la del detenido corra
        peligro. Los ciudadanos que no hayan recibido la lectura de sus derechos
        podrán solicitar el <span class="accent">Habeas Corpus</span>. Esta
        solicitud permitirá el no recibir ningún tipo de condena temporal pero
        no suprimirá los delitos ni multas, los cuáles serán añadidos a los
        expedientes de los ciudadanos detenidos.
      </p>
    </ArticleWrited>

    <ArticleWrited title="ARTÍCULO.12">
      <p>
        Todas las condenas que no superen los 30 meses se cumplirán en los
        calabozos de la comisaría donde haya sido procesado. <span
          class="accent">Si la condena supera los 30 meses</span
        >, el detenido deberá ser trasladado a la Prisión federal de
        Bolingbroke. Se le pondrá en libertad provisional y se le notificará la
        fecha del ingreso en la Prisión federal.
      </p>
    </ArticleWrited>

    <ArticleWrited title="ARTÍCULO.13">
      <p>
        La zona de la <span class="accent">Isla de Cayo Perico</span> y sus alrededores,
        es una zona con acceso restringido para toda la ciudadanía incluyendo los
        agentes de la ley, los cuales sólo podrán patrullar hasta aguas nacionales
        (Territorio del estado de San Andreas).
      </p>
    </ArticleWrited>

    <ArticleWrited title="ARTÍCULO.14">
      <p>
        A todos los ciudadanos que sean condenados por terrorismo se les
        aplicará la condena permanente inmediata a cumplir en la Prisión federal
        de Bolingbroke.
      </p>
    </ArticleWrited>

    <ArticleWrited title="ARTÍCULO.15">
      <p>
        Todos los ciudadanos tendrán derecho a recibir asistencia sanitaria y no
        podrán ser privados de este derecho bajo ninguna circunstancia.
      </p>
    </ArticleWrited>

    <ArticleWrited title="ARTÍCULO.16">
      <p>
        Todos los ciudadanos tendrán opción a inscribirse para obtener un puesto
        como funcionario público siempre que no tengan ningún delito inscrito en
        su base de datos.
      </p>
    </ArticleWrited>

    <ArticleWrited title="ARTÍCULO.17">
      <p>
        Todos los ciudadanos podrán realizar actividades de caza en las zonas
        predestinadas para ello. La caza de <span class="accent"
          >águilas, pumas y coyotes</span
        > es <span class="accent">ilegal</span> y será sancionada. También será sancionada
        penalmente la pesca de <span class="accent">animales protegidos</span> como
        los <span class="accent">tiburones</span> o las <span class="accent"
          >tortugas</span
        >.
      </p>
    </ArticleWrited>

    <ArticleWrited title="ARTÍCULO.18">
      <p>
        El maltrato a animales está completamente prohibido, y lo mismo está
        protegido por el código penal.
      </p>
    </ArticleWrited>

    <ArticleWrited title="ARTÍCULO.19">
      <p>
        El consumo, la recogida y la pertenencia de sustancias ilícitas será
        penado duramente por el departamento policial.
      </p>
    </ArticleWrited>

    <ArticleWrited title="ARTÍCULO.20">
      <p>
        Los ciudadanos podrán portar bandanas o gafas de sol. Los miembros de
        los departamentos policiales podrán solicitar su retirada.
      </p>
    </ArticleWrited>

    <ArticleWrited title="ARTÍCULO.21">
      <p>
        Si un ciudadano es detenido y no es liberado en el plazo establecido por
        causas de fuerza mayor no podrá denunciarlo.
      </p>
    </ArticleWrited>

    <ArticleWrited title="ARTÍCULO.22">
      <p>
        Todos los ciudadanos deberán llevar encima su <span class="accent"
          >documento de identidad</span
        >. La omisión de identificación será motivo de retención y traslado a
        comisaría para su posterior identificación.
      </p>
    </ArticleWrited>

    <ArticleWrited title="ARTÍCULO.23">
      <p>
        Todos los ciudadanos tendrán opción de solicitar el <span class="accent"
          >número de placa</span
        > a cualquier agente siempre y cuando haya habido una retención indebida
        o cualquier otro tipo de interacción entre el ciudadano solicitante y miembro
        de las fuerzas y cuerpos de seguridad del estado dentro de servicio.
      </p>
    </ArticleWrited>

    <ArticleWrited title="ARTÍCULO.24">
      <p>
        Todos los ciudadanos recibirán la nacionalidad una vez entren a la isla.
        La cual no podrá ser retirada bajo ningún concepto.
      </p>
    </ArticleWrited>

    <ArticleWrited title="ARTÍCULO.25">
      <p>
        Todos los delitos vienen tipificados en el <a href="#codigoPenal"
          >código penal</a
        >.
      </p>
    </ArticleWrited>
  </SectionWrited>

  <SectionWrited
    id="2"
    title="APARTADO II: DERECHOS Y APLICACIONES DE LOS DECRETOS"
  >
    <h4>BASE LEGISLATIVA 1.0 - DERECHO PENAL</h4>
    <p class="font-bold">
      1. Los miembros de los departamentos policiales se encargarán de aplicar
      todas las sanciones penales dentro del estado y establecer el estado de
      derecho.
    </p>
    <p class="mt-4 font-bold">
      2. La detención preventiva/retención no puede durar más de 30 meses. Si se
      necesita una extensión, esta debe ser autorizada por un juez.
    </p>
    <p class="mt-4 font-bold">3. Casos de detención inmediata a un civil:</p>
    <ul>
      <li>
        En el caso de que el ciudadano se encuentre en búsqueda y captura.
      </li>
      <li>En el caso de que el agente lo haya visto en un delito flagrante.</li>
      <li>
        En el caso de que el ciudadano haya huido y entre en una propiedad
        privada.
      </li>
      <li>
        En el caso de que el ciudadano no porte la documentación (solo
        retención).
      </li>
      <li>
        Realizar fotografías o grabaciones a un funcionario público de servicio.
      </li>
    </ul>
    <p class="mt-4 font-bold">
      4. Procedimientos que no conllevan la detención del civil:
    </p>
    <ul>
      <li>Registrar a un ciudadano dentro de un perímetro policial.</li>
      <li>Ser retenido en un control policial.</li>
      <li>Solicitar la identificación de un ciudadano.</li>
    </ul>
    <p class="mt-4 font-bold">5. Realización de registros:</p>
    <ul>
      <li>Conducción temeraria por parte del ciudadano.</li>
      <li>Agresión por parte de un civil a otro.</li>
      <li>Insultos graves a un funcionario público.</li>
      <li>Posesión de objetos ilegales.</li>
      <li>Circular con el rostro oculto.</li>
      <li>
        Al estar dentro del área perimetral donde se ha realizado un delito
        grupal.
      </li>
      <li>En caso de que el agente le haya visto cometer un delito.</li>
    </ul>
    <p class="mt-4 font-bold">6. Motivos de identificación:</p>
    <ul>
      <li>Se ha cometido un delito en una zona cercana.</li>
      <li>Se ha abierto una investigación y se requiere más información.</li>
      <li>Se ha informado de que el sujeto ha sido visto en un delito.</li>
      <li>Se ha visto a un sujeto salir de un vehículo robado.</li>
    </ul>
    <p class="mt-4 font-bold">7. Motivos de cacheo:</p>
    <ul>
      <li>Se ha visto al ciudadano conducir de forma temeraria.</li>
      <li>
        Se ha visto al ciudadano cometer un delito y se tiene que llevar a
        comisaría.
      </li>
      <li>Se ha visto al ciudadano agredir o ser agredido.</li>
      <li>Se ha visto al ciudadano portar armas ilegales.</li>
      <li>Se ha visto al ciudadano consumir droga.</li>
      <li>Se ha visto al ciudadano salir de un vehículo robado.</li>
      <li>Se ha cometido un delito en una zona cercana.</li>
    </ul>
    <p class="mt-4 font-bold">8. Lectura de derechos:</p>
    <ul>
      <li>
        Los derechos deben leerse antes de entrar en el recinto policial siempre
        y cuando el sujeto esté consciente.
      </li>
      <li>
        Los derechos no tendrán un orden obligado de lectura. Podrán darse por
        entendido por los agentes siempre y cuando se hayan leído, como mínimo,
        2 veces.
      </li>
      <li>
        Los derechos son los siguientes:
        <ul>
          <p>- Tiene derecho a no prestar declaración.</p>
          <p>
            - Tiene derecho a no declararse culpable y no contestar ninguna
            pregunta de las que se le formulen.
          </p>
          <p>- Tiene derecho a comida y bebida.</p>
          <p>- Tiene derecho a asistencia sanitaria en caso de necesidad.</p>
          <p>
            - Tiene derecho a una llamada de no más de 1 minuto en presencia de
            un agente del SAPD.
          </p>
          <p>- Tiene derecho a pagar una fianza para evitar ir a prisión.</p>
          <p>
            - Tiene derecho a ser informado de los delitos que se le atribuyen.
          </p>
          <p>
            - Tiene derecho a un abogado siempre que no se le detenga en
            flagrante delito.
          </p>
        </ul>
      </li>
      <li>
        En caso de que el detenido no haya recibido la lectura de los derechos y
        haya solicitado el <span class="accent">Habeas Corpus</span>, este
        deberá ser admitido por el cargo más alto que se encuentre de servicio
        en ese momento. En caso de ser admitido, al detenido se le retirarán
        todos los objetos ilegales y no se le aplicará ninguna condena por las
        cuales se le había detenido, aunque los cargos sí se archivarán en su
        historial delictivo y se le aplicará la multa correspondiente.
        Finalmente, el sujeto podrá salir o podrá ser retenido como sospechoso
        de otro caso ajeno al de su detención.
      </li>
    </ul>
    <p class="mt-4 font-bold">9. Motivos de retención:</p>
    <ul>
      <li>El ciudadano se considera sospechoso de algún acto delictivo.</li>
      <li>
        En el caso en el que haya una investigación abierta y el ciudadano pueda
        aportar información.
      </li>
      <li>En el caso de portar armas ilegales.</li>
      <li>En el caso de encontrar al ciudadano consumiendo drogas.</li>
    </ul>
    <p class="mt-4 font-bold">10. Motivos de pena de muerte:</p>
    <ul>
      <li>
        En el caso de que a un sujeto se le aplique cadena perpetua y consiga
        escapar de prisión, una vez se le vuelva a detener se considerará motivo
        de pena de muerte.
      </li>
    </ul>
  </SectionWrited>

  <SectionWrited
    id="3"
    title="APARTADO III: LOS DECRETOS DE LEY Y SU NATURALEZA"
  >
    <ArticleWrited title="DECRETO 1.0 | IDENTIFICACIÓN DE LOS CIUDADANOS">
      <p>
        Todos los ciudadanos deberán tener la tarjeta de identificación
        actualizada. La actualización de este documento se realizará en la
        comisaría por un miembro del SAPD con un coste de 50$. En caso de
        pérdida de la tarjeta de identificación, el coste de reimpresión será de
        100$.
      </p>
    </ArticleWrited>

    <ArticleWrited
      title="DECRETO 2.0 | LICENCIA DE CIRCULACIÓN Y REGISTRO DE VEHÍCULOS"
    >
      <p>
        Todos los ciudadanos dispondrán de un carné de conducir con un total de
        10 puntos. Los ciudadanos podrán perder puntos por realizar infracciones
        viales. Los cuerpos y fuerzas de seguridad del estado podrán retirar por
        un delito de tráfico, como máximo, 4 puntos. Los puntos podrán ser
        comprados en cualquier comisaría por 120$ cada uno. Podrán adquirir un
        total de 10 puntos nuevos cada 10 días hábiles. La pérdida total de los
        puntos implica la pérdida de carné.
      </p>
      <p class="separate">
        Todos los ciudadanos deberán registrar su vehículo en la comisaría con
        un coste de 250$. No tener el vehículo registrado es motivo de sanción.
      </p>
      <p class="separate">
        Para recuperar el carnet de conducir una vez se pierda la totalidad de
        los puntos, el interesado/a deberá realizar un examen de reciclaje
        realizado por la SAPD con un coste de 720$ + 230$ por gastos y tasas.
      </p>
    </ArticleWrited>

    <ArticleWrited title="DECRETO 3.0 | COTO DE CAZA: NORMATIVA">
      <p>
        Para poder realizar actividades de caza se deberán de portar los
        siguientes documentos durante su realización:
      </p>
      <ul>
        <li>
          Copia de la aprobación de la prueba psicotécnica emitida por algún
          sanitario o psicólogo titulado.
        </li>
        <li>Tarjeta de identificación.</li>
        <li>Permiso de caza.</li>
      </ul>
      <p class="separate">
        El no portar los anteriores documentos puede ser considerado como acto
        delictivo.
      </p>
      <p class="separate">
        El coto de caza legal se encuentra en las inmediaciones del aserradero
        de <span class="accent">Paleto Bay</span>. La realización de actividades
        de caza fuera del coto habilitada puede ser considerado como acto
        delictivo.
      </p>
      <p class="separate">
        El precio de la realización de la prueba psicotécnica será determinado
        por el hospital en sí.
      </p>
      <p class="separate">El permiso de cazador se tramita en la comisaría.</p>
    </ArticleWrited>

    <ArticleWrited title="DECRETO 4.0 | DEFENSA DE LA PRIVACIDAD CIUDADANA">
      <p>
        Los ciudadanos no podrán ser grabados ni fotografiados sin una solicitud
        previa. Los funcionarios públicos no podrán ser grabados ni
        fotografiados mientras estén de servicio.
      </p>
      <p class="separate">
        Está privacidad no se tendrá en cuenta en caso de que el ciudadano esté
        cometiendo un delito en ese mismo instante o el ciudadano forme parte de
        un evento social o una manifestación.
      </p>
    </ArticleWrited>

    <ArticleWrited
      title="DECRETO 5.0 | ESTADOS DE ALARMA DEL ESTADO ESTADOUNIDENSE"
    >
      <h4>DEFCON 5:</h4>
      <ul>
        <li>Situación normal en tiempos de paz.</li>
        <li>Armas básicas reglamentarias.</li>
        <li>Privación de libertad: La aplicada en el Código Penal.</li>
      </ul>
      <h4 class="separate">DEFCON 4:</h4>
      <ul>
        <li>
          Se incrementa ligeramente la actividad de los servicios de
          inteligencia y se endurecen las medidas de Seguridad en el Estado.
        </li>
        <li>Armas básicas reglamentarias.</li>
        <li>Se podrá limitar el acceso a determinadas zonas.</li>
      </ul>
      <h4 class="separate">DEFCON 3:</h4>
      <ul>
        <li>
          Implica un aumento de la disponibilidad de las fuerzas por encima de
          lo normal al considerarse un nivel de alerta de grado moderado.
        </li>
        <li>
          Armas básicas reglamentarias y fusil, siempre y cuando mando lo
          autorice.
        </li>
        <li>Actuaciones autorizadas:</li>
        <ul>
          <li>
            Cierre de establecimientos y lugares públicos, así como actuación en
            propiedades privadas.
          </li>
          <li>
            Identificación y registro de ciudadanos y/o vehículos siempre y
            cuando se considere que puede estar cometiendo algún tipo de
            actividad ilícita o presente una actitud sospechosa.
          </li>
        </ul>
      </ul>
      <h4 class="separate">DEFCON 2:</h4>
      <ul>
        <li>
          Se asigna cuando se alcanza el nivel inmediatamente inferior al
          máximo. Considerado nivel de alerta alto.
        </li>
        <li>
          Armas básicas reglamentarias y fusil como arma reglamentaria, siempre
          y cuando mando lo autorice.
        </li>
        <li>
          Actuaciones <span class="accent">DEFCON 4</span> y <span
            class="accent">DEFCON 3</span
          > autorizadas.
        </li>
      </ul>
      <h4 class="separate">DEFCON 1:</h4>
      <ul>
        <li>
          Nivel máximo de alerta. Reservado para activarse ante un inminente
          ataque contras las fuerzas armadas estadounidense cuando la ciudad
          esté completamente descontrolada, ante muchos robos, asesinatos o
          atentados contra la <span class="accent">SAPD</span>. Se activa el
          toque de queda.
        </li>
      </ul>
    </ArticleWrited>

    <ArticleWrited title="DECRETO 6.0 | SISTEMA DE DEUDAS PÚBLICAS">
      <p>
        Todos los ciudadanos pueden contraer deudas públicas y todos los
        ciudadanos deben abonar esa deuda dentro de unos u otros plazos. El
        sistema de deudas está controlado tanto por el Banco Central de San
        Andreas como por los departamentos policiales del estado, en este caso
        como mano ejecutora y reguladora.
      </p>
      <p class="separate">
        Todos los ciudadanos con una deuda superior a los <span class="accent"
          >50000$</span
        > deberán abonar el total de la cantidad a deber en un plazo no superior
        a <span class="accent">72 horas</span>. En el caso de que la deuda no
        sea pagada, el estado procederá a incautar todos los <span
          class="accent">vehículos</span
        > hasta obtener la cantidad total de la deuda.
      </p>
      <p class="separate">
        Todos los ciudadanos con una deuda superior a los <span class="accent"
          >75000$</span
        > deberán abonar el total de la cantidad a deber en un plazo no superior
        a <span class="accent">48 horas</span>. En el caso en el que la deuda no
        haya sido satisfecha en el plazo asignado, el estado procederá a
        incautar <span class="accent">todos los bienes</span> del ciudadano hasta
        obtener la cantidad total de la deuda.
      </p>
      <p class="separate">
        Todos los ciudadanos con una deuda superior a los <span class="accent"
          >100000$</span
        > tendrán un periodo de <span class="accent">72 horas</span> para abonar
        la cantidad total de la deuda. En caso de no abonar la cantidad total de
        la deuda, procederá a ser <span class="accent">encarcelado</span>
        durante <span class="accent">24 horas</span> más a la espera de una ayuda
        externa. Si pasa el plazo y la deuda sigue sin ser satisfecha, el ciudadano
        deudor será condenado con <span class="accent">prisión permanente</span
        >.
      </p>
    </ArticleWrited>

    <ArticleWrited title="DECRETO 7.0 | SISTEMA DE FIANZAS">
      <p>
        Todos los ciudadanos tienen derecho a pagar una fianza para no entrar en
        prisión. Esta fianza podrá ser abonada en caso de que el tiempo en
        prisión no supere los 30 meses.
      </p>
      <h4 class="separate">Existen 3 tipos de fianzas:</h4>
      <ul>
        <li>
          <span class="font-bold">Fianza TIPO I</span>: El detenido tiene una
          condena en prisión que no supera los 10M, por tanto, puede evitar
          entrar en prisión abonando una cantidad del 25% del total económico de
          la multa.
        </li>
        <li>
          <span class="font-bold">Fianza TIPO II</span>: El detenido tiene una
          condena en prisión que no supera los 20M, por tanto, puede evitar
          entrar en prisión pagando una cantidad del 50% del total económico de
          multa.
        </li>
        <li>
          <span class="font-bold">Fianza TIPO III</span>: El detenido tiene una
          condena en prisión que no supera los 30M, por tanto, puede evitar
          entrar en prisión pagando una cantidad del 75% del total económico de
          la multa.
        </li>
      </ul>
    </ArticleWrited>

    <ArticleWrited title="DECRETO 8.0 | DEPENDENCIA DE LOS JUZGADOS">
      <h4>
        Los departamentos policiales dependen de la afirmación de un juez en los
        siguientes casos:
      </h4>
      <ul>
        <li>En la solicitud de registro de viviendas de un detenido.</li>
        <li>En la solicitud de extensión de la retención de un individuo.</li>
        <li>En las aplicaciones de las cadenas perpetuas.</li>
        <li>En la ejecución de incautación de bienes por el Decreto 6.0.</li>
        <li>La expropiación de un local y/o empresa.</li>
      </ul>
    </ArticleWrited>

    <ArticleWrited
      title="DECRETO 9.0 | LEY LCCP (LEY EN CONTRA DE LA CORRUPCIÓN PÚBLICA)"
    >
      <p>
        Esta ley tiene como finalidad el control contra la <span class="accent"
          >corrupción</span
        > realizada por funcionarios públicos.
      </p>
      <p class="separate">
        Cuando un ciudadano entra a trabajar en un departamento público y
        comienza a ser funcionario público, acepta una serie de directrices,
        normas y éticas no compatibles con la flexibilidad, la corrupción o la
        inmoralidad laboral.
      </p>
      <p class="separate">
        Incumplir alguna de las siguientes pautas podrá hacer que se le aplique
        la ley LCCP al funcionario público que las haya incumplido, lo cual
        provocaría la expulsión del departamento al que pertenece y la solicitud
        por parte de este departamento de la <span class="accent"
          >prisión permanente</span
        > revisable para el sujeto.
      </p>
      <h4 class="separate">Pautas a cumplir:</h4>
      <ul>
        <li>
          No se podrá revelar ningún tipo de información acerca de tu
          departamento ni de sus miembros ya sea fuera o dentro de servicio con
          personas ajenas al departamento. Toda la información es confidencial.
        </li>
        <li>
          No se podrá revelar imágenes o grabaciones de un sujeto detenido o
          retenido, así como su identidad o sus cargos archivados en su
          historial delictivo.
        </li>
        <li>
          Se deberá ser imparcial y no tratar de favorecer ni desfavorecer a
          ningún ciudadano sea cual sea nuestra relación personal o nuestro
          código ético hacia el detenido o retenido.
        </li>
        <li>No se deberá actuar en beneficio propio.</li>
        <li>
          No se podrá agredir a ningún ciudadano sin motivo, ni realizar ningún
          acto delictivo.
        </li>
      </ul>
    </ArticleWrited>

    <ArticleWrited title="DECRETO 10.0 | CONFISCADO DE VEHÍCULOS">
      <p>
        Un criminal que haya utilizado su vehículo para realizar un acto
        delictivo será procesado y penado por ello. Su vehículo será incautado y
        deberá pagar una tasa que tendrá carácter sumatorio a la multa total. La
        tasa es de 1000$ por vehículo, a excepción de vehículos aéreos y
        acuáticos, cuya tasa es de 15000$. Esta tasa deberá ser abonada para la
        devolución del vehículo.
      </p>
    </ArticleWrited>

    <ArticleWrited title="DECRETO 11.0 | BORRADO DE HISTORIAL DELICTIVO">
      <p>Todos los ciudadanos tendrán derecho a solicitar el borrado de su historial delictivo siempre y cuando no haya sido penado en un plazo de 20 días hábiles. Los ciudadanos deberán solicitar el borrado en la comisaría.</p>
      <h4>Requisitos:</h4>
      <ul>
        <li>Abonar una tasa de 20.000$.</li>
        <li>No realizar actos delictivos en 20 días hábiles.</li>
        <li>No haber realizado delitos enumerados en los apartados 3, 4, 6, 7 y 9.</li>
        <li>No realizar ningún acto delictivo en las siguientes 48 horas a la solicitud de borrado de historial delictivo, sino la solicitud será revocada.</li>
      </ul>
    </ArticleWrited>
  </SectionWrited>

  <style>
    h4 {
      font-style: italic;
      text-transform: capitalize;
      font-weight: bold;
    }

    .accent {
      background: #1fc1d721;
      padding-inline: 3px;
      padding-top: 1px;
      padding-bottom: 2px;
      border-radius: 3px;
      font-weight: bold;
    }

    .separate {
      margin-top: 8px;
    }

    ul {
      list-style: inside;
      margin-left: 10px;
    }

    a {
      text-decoration: underline;
    }
  </style>
</Layout>
