---
import TrashIcon from "../icons/TrashIcon.astro";

import { db, UserTeam } from "astro:db";
const usuarios = await db.select().from(UserTeam);
---

<section class="mt-10">
  <form method="post" autocomplete="off">
    <div
      class="bg-[#B1DAF8]/10 bg-blur backdrop-blur backdrop-filter p-4 rounded-md shadow-xl flex flex-col items-start gap-2"
    >
      <h1
        class="text-2xl lg:text-4xl font-pricedown uppercase drop-shadow-xl mb-4 ml-2"
      >
        Añade nuevos usuarios a <span
          class="text-transparent bg-clip-text drop-shadow-xl bg-gradient-to-r to-[#1BD1C2] from-[#15A9CE]"
          >nuestro equipo</span
        >
      </h1>

      <input
        type="text"
        name="username"
        required
        placeholder="Nombre usuario..."
        class="p-2 rounded-md bg-transparent outline-none resize-none border-l-2 border-sky-50/20 focus:border-l-2 focus:border-sky-300/60 transition duration-300 w-full"
      />
      <input
        type="text"
        name="userjob"
        required
        placeholder="Puesto de trabajo..."
        class="p-2 rounded-md bg-transparent outline-none resize-none border-l-2 border-sky-50/20 focus:border-l-2 focus:border-sky-300/60 transition duration-300 w-full"
      />
      <input
        type="text"
        name="userimage"
        required
        placeholder="URL Imagen..."
        class="p-2 rounded-md bg-transparent outline-none resize-none border-l-2 border-sky-50/20 focus:border-l-2 focus:border-sky-300/60 transition duration-300 w-full"
      />
      <input
        type="text"
        name="usersocial"
        placeholder="URL Social..."
        class="p-2 rounded-md bg-transparent outline-none resize-none border-l-2 border-sky-50/20 focus:border-l-2 focus:border-sky-300/60 transition duration-300 w-full"
      />

      <div>
        <button
          title="Save"
          class="cursor-pointer flex items-center fill-sky-400 bg-sky-950 hover:bg-sky-900 active:border active:border-sky-400 rounded-md transition duration-300 p-2"
        >
          <svg
            viewBox="0 -0.5 25 25"
            height="20px"
            width="20px"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              stroke-linejoin="round"
              stroke-linecap="round"
              stroke-width="1.5"
              d="M18.507 19.853V6.034C18.5116 5.49905 18.3034 4.98422 17.9283 4.60277C17.5532 4.22131 17.042 4.00449 16.507 4H8.50705C7.9721 4.00449 7.46085 4.22131 7.08577 4.60277C6.7107 4.98422 6.50252 5.49905 6.50705 6.034V19.853C6.45951 20.252 6.65541 20.6407 7.00441 20.8399C7.35342 21.039 7.78773 21.0099 8.10705 20.766L11.907 17.485C12.2496 17.1758 12.7705 17.1758 13.113 17.485L16.9071 20.767C17.2265 21.0111 17.6611 21.0402 18.0102 20.8407C18.3593 20.6413 18.5551 20.2522 18.507 19.853Z"
              clip-rule="evenodd"
              fill-rule="evenodd"></path>
          </svg>
          <span class="text-sm text-sky-400 font-bold pr-1"
            >Agregar Usuario al Equipo</span
          >
        </button>
      </div>
    </div>
  </form>
  <footer>
    <p class="text-gray-400">
      Lista de los usuarios que trabajan con nosotros:
    </p>
    <p class="flex flex-wrap gap-1">
      {
        usuarios.map((user) => (
          <>
            <form method="post" class="flex items-center gap-1">
              <span class="text-sm text-gray-500">{user.username}</span>
              <button name="deleteUser" value={user.id} type="submit">
                <span class="text-sm text-red-500/40 hover:text-red-500/60 transition duration-300"><TrashIcon w="16" h="16" /></span>
              </button>
            </form>
          </>
        ))
      }
    </p>
  </footer>
</section>
