---
import Layout from "../layouts/Layout.astro";
import TextSection from "../components/TextSection.astro";
import Hr from "../components/Hr.astro";
import TrashIcon from "../components/icons/TrashIcon.astro";

import { getSession } from "auth-astro/server";
const session = await getSession(Astro.request);

import { db, eq, News } from "astro:db";
const noticias = await db.select().from(News);

if (Astro.request.method === "POST") {
  const formData = await Astro.request.formData();
  const deleteNew = formData.get("deleteNew") as string;
  if (deleteNew) {
    const deleteNewNumber = parseInt(deleteNew);
    if (!isNaN(deleteNewNumber)) {
      await db.delete(News).where(eq(News.id, deleteNewNumber));
    }
  }
}
---

<Layout
  title="Actualizaciones y Novedades - ProgresoRP Servidor"
  description="Explora las actualizaciones y novedades más recientes del servidor ProgresoRP. Mantente al día con los emocionantes cambios y mejoras que hemos implementado para ofrecerte la mejor experiencia de juego. Desde nuevas funciones hasta ajustes en el rendimiento, aquí encontrarás todo lo que necesitas saber para estar a la vanguardia en nuestro servidor. ¡No te pierdas ninguna actualización importante y únete a la acción en ProgresoRP hoy mismo!"
>
  <Hr />
  <TextSection
    text="ACTUALIZACIONES Y NOVEDADES - PROGRESORP"
    subtext="Descubre las últimas mejoras y novedades en ProgresoRP. Mantente al tanto de los emocionantes cambios para una experiencia de juego aún mejor. ¡Únete a la acción hoy!"
  />
  <hr
    class="mt-2 mb-12 h-px border-t-0 bg-transparent bg-gradient-to-r from-transparent via-neutral-500 to-transparent opacity-25 dark:via-neutral-400"
  />
  <div class="flex flex-col gap-4">
    {
      noticias.reverse().map((noticia, index) => (
        <div
          class={`bg-[#B1DAF8]/10 bg-blur w-full relative backdrop-blur backdrop-filter p-4 rounded-md shadow-xl flex flex-col items-start gap-2 ${index < 3 ? "col-span-1" : "col-span-2"}`}
        >
          <span class="text-xl tabular-nums font-pricedown">
            {noticia.date}
          </span>
          <p class="text-pretty opacity-75 capitalize-first">{noticia.text}.</p>
          {(session && session.user?.email === "spanolocabo@gmail.com") ||
          session?.user?.email === "albertobetpad17@gmail.com" ? (
            <form method="post">
              <button name="deleteNew" value={noticia.id} type="submit">
                <div class="flex absolute top-0 right-4 items-center gap-1 mt-4 p-2 rounded-md text-red-500/40 bg-red-400/20 scale-100 transition duration-300 hover:bg-red-400/40 hover:text-red-500/60 hover:scale-105">
                  <span class="">
                    <TrashIcon w="18" h="18" />
                  </span>
                </div>
              </button>
            </form>
          ) : null}
        </div>
      ))
    }
  </div>
</Layout>

<style>
  .capitalize-first::first-letter {
    text-transform: uppercase;
  }
</style>
