---
import Hr from "../components/Hr.astro";
import TextSection from "../components/TextSection.astro";
import Layout from "../layouts/Layout.astro";

import { databases } from "../lib/appwriter";

const { documents: posts } = await databases.listDocuments(
  "66454d410036db55430c",
  "6646440e002c2d76fb23"
);
---

<Layout
  title="Blog - ProgresoRP Servidor"
  description="Explora nuestros últimos postes y novedades más recientes en nuestro blog. Mantente al día con los emocionantes cambios y mejoras que hemos implementado para ofrecerte la mejor experiencia de juego. Desde nuevas funciones hasta ajustes en el rendimiento, aquí encontrarás todo lo que necesitas saber para estar a la vanguardia en nuestro servidor. ¡No te pierdas ninguna actualización importante y únete a la acción en ProgresoRP hoy mismo!"
>
  <Hr />
  <TextSection
    text="Blog - ProgresoRP"
    subtext="Descubre nuestras nuevas novedades en nuestro blog. Mantente al día con los emocionantes cambios y mejoras que hemos implementado para ofrecerte la mejor experiencia de juego. Desde nuevas funciones hasta ajustes en el rendimiento, aquí encontrarás todo lo que necesitas saber para estar a la vanguardia en nuestro servidor. ¡No te pierdas ninguna actualización importante y únete a la acción en ProgresoRP hoy mismo!"
  />
  <hr
    class="mt-2 mb-12 h-px border-t-0 bg-transparent bg-gradient-to-r from-transparent via-neutral-500 to-transparent opacity-25 dark:via-neutral-400"
  />

  <section>
    <ul>
      {
        posts.reverse().map((post) => {
          return (
            <li class="mb-8">
              <a
                class="flex flex-col md:flex-row relative justify-normal items-center gap-2 md:gap-3 bg-[#B1DAF8]/5 bg-blur backdrop-blur backdrop-filter md:p-3 rounded-md shadow-xl scale-100 hover:scale-105 transition duration-300"
                href={`/posts/${post.slug}`}
              >
                <img
                  src={post.imagepost}
                  class="w-full h-36 md:h-auto md:w-20 rounded-t-md md:rounded-sm aspect-square object-cover"
                  alt="imagen-post"
                />
                <div class="px-2 md:px-0">
                  <div class="flex flex-col md:flex-row items-start md:items-end gap-2">
                    <h1 class="font-pricedown lg:line-clamp-1 uppercase text-2xl md:text-4xl mb-0 md:mb-0">
                      {post.title}
                    </h1>
                  </div>
                  <p class="text-gray-100/75 mb-8 md:mb-2 text-xs md:text-base">
                    {post.excerpt}.
                  </p>
                </div>
                <p class="text-xs text-slate-500/75 absolute bottom-2 right-2">
                  PUBLICADO EL {new Date(post.$createdAt).toLocaleDateString()}
                </p>
              </a>
            </li>
          );
        })
      }
    </ul>
  </section>
</Layout>
