---
import Layout from "../layouts/Layout.astro";
import TextSection from "../components/TextSection.astro";
import Hr from "../components/Hr.astro";

import CardInstall from "../components/CardInstall.astro";
import TeamCard from "../components/TeamCard.astro";
import BentoImages from "../components/BentoImages.astro"
---

<Layout
  title="ProgresoRP - Tu servidor de Roleplay favorito"
  description="¡Únete a la emocionante experiencia de GTA V Roleplay en Progresorp! Vive aventuras inolvidables en un mundo virtual lleno de acción, intriga y diversión con tus amigos. Crea tu propio personaje, construye tu historia y sumérgete en un universo lleno de posibilidades. ¡Regístrate ahora y comienza tu viaje en Progresorp!"
>
  <main>
    <TextSection
      text="Descubre una nueva aventura donde podras ser quien quieras"
      subtext="Sigue los siguientes pasos para unirte a nosotros:"
    />
    <CardInstall />

    <Hr />
    
    <BentoImages />
    
    <Hr />

    <TextSection
      text="Conoce el equipo que hay detras"
      subtext="Han participado los siguientes usuario"
    />
    <TeamCard />
    
    <Hr />
  </main>
</Layout>
