---
import Layout from '@layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<h1 class="text-7xl font-pricedown uppercase bg-gradient-to-r from-gradient1 to-gradient2 inline-block text-transparent bg-clip-text">Página web de progresorp</h1>
		<p class="">Esta web es donde podras encontrar tu nuevo universo donde podras ser quien quieras, DISFRUTA!!</p>
	</main>
</Layout>