---
import Layout from '@layouts/Layout.astro';
---

<Layout title="ProgresoRP - Tu servidor de Roleplay favorito" description='¡Únete a la emocionante experiencia de GTA V Roleplay en Progresorp! Vive aventuras inolvidables en un mundo virtual lleno de acción, intriga y diversión con tus amigos. Crea tu propio personaje, construye tu historia y sumérgete en un universo lleno de posibilidades. ¡Regístrate ahora y comienza tu viaje en Progresorp!'>
	<main>
	</main>
</Layout>