---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<h1 class="bg-gradient-to-r from-gradient1 to-gradient2 inline-block text-transparent bg-clip-text">Hello World</h1>
	</main>
</Layout>