---
import TextSection from "../components/TextSection.astro";
import Layout from "../layouts/Layout.astro";
import ArticleWrited from "../components/normas/ArticleWrited.astro";
import SectionWrited from "../components/normas/SectionWrited.astro";
---

<Layout
  title="ProgresoRP - Leete las normas de nuestro servidor"
  description="TODO"
>
  <TextSection
    text="Normativa de nuestro servidor - ProgresoRP"
    subtext="Aquí tendrás toda la información de nuestras normas que deberás cumplir para jugar dentro del servidor:"
  />

  <SectionWrited title="1. CONCEPTOS BÁSICOS">
    <ArticleWrited title="IC | IN CHARACTER">
      <p>Es todo lo que le ocurre a nuestro personaje dentro del juego.</p>
    </ArticleWrited>

    <ArticleWrited title="OOC | OUT OF CHARACTER">
      <p>
        Es todo lo que sucede fuera del juego, lo cual no influye en la historia
        de nuestro personaje (discord, streams...).
      </p>
    </ArticleWrited>

    <ArticleWrited title="PG | POWERGAMING">
      <p>
        Se considera PowerGaming, cualquier acción que esté fuera de los límites
        de la realidad.
      </p>
      <h4>Ejemplos prácticos:</h4>
      <ul>
        <li>Subir con un superdeportivo una montaña</li>
        <li>Chocarse con el coche y seguir conduciendo</li>
        <li>Cargar un cuerpo e ir corriendo</li>
      </ul>
    </ArticleWrited>

    <ArticleWrited title="MG | METAGAMING">
      <p>
        Se considera MetaGaming el obtener información de manera OOC e
        implementarla de manera IC.
      </p>
      <h4>Ejemplos prácticos:</h4>
      <ul>
        <li>Ir en busca de un amigo que te ha avisado por discord</li>
        <li>
          Ver el directo de algún streamer e ir donde él se encuentre y forzarle
          el rol
        </li>
        <li>Hablar por discord con tus compañeros estando muerto o vivo</li>
      </ul>
    </ArticleWrited>

    <ArticleWrited title="Bug Abuse">
      <p>
        El término Bug Abuse es emplear cualquier mecánica del juego que nos
        permita obtener beneficios empleando bugs, como por ejemplo el
        <span class="accent">BunnyJump</span>, cancelar animaciones para tardar
        menos tiempo en hacer las cosas, etc...
      </p>
    </ArticleWrited>

    <ArticleWrited title="BD | BAD DRIVING">
      <p>
        Se considera BadDriving el tener una mala conducción como por ejemplo
        conducir por encima de la calzada, ir en dirección contraria, romper
        señales de tráfico (cosas las cuales en la vida real no tendrían
        lógica).
      </p>
    </ArticleWrited>

    <ArticleWrited title="DM | DEATH MATCH">
      <p>
        Se considera DeathMatch atacar/matar a otra persona sin un rol previo ni
        un rol que lo justifique.
      </p>
    </ArticleWrited>

    <ArticleWrited title="VDM | VEHICLE DEATH MATCH">
      <p>
        Se considera VehicleDeathMatch atacar/matar a otra persona sin un rol
        previo ni un rol que lo justifique con un vehículo.
      </p>
    </ArticleWrited>

    <ArticleWrited title="PK | PLAYER KILL">
      <p>
        Al ser abatido por cualquier motivo, no podrás recordar nada de lo
        ocurrido en el último rol.
      </p>
      <h4>Ejemplo práctico:</h4>
      <p>
        Te lías a puñetazos en gimnasio y apareces en hospital, no podrás
        recordar nada de lo ocurrido, por lo que no podrás regresar a continuar
        la pelea, ya que se consideraría RK. Podrán recordarte lo que sucedió
        algún testigo de los hechos.
      </p>
    </ArticleWrited>

    <ArticleWrited title="PKT | PLAYER KILL TOTAL">
      <p>No recordarás nada de lo acontecido en un rol específico.</p>
      <h4>Ejemplo práctico:</h4>
      <p>
        Encuentras a un civil random o un policía en tu sede de Mafia/Banda y
        decides que no recuerde nada de lo que pudo haber visto y/o escuchado.
      </p>
    </ArticleWrited>

    <ArticleWrited title="RK | REVENGE KILL">
      <p>
        Tras haber sido abatido, decides volver a la zona del “conflicto” y
        tomar venganza, sin que nadie te haya puesto al día de lo ocurrido.
      </p>
      <h4>Ejemplo práctico:</h4>
      <p>
        Comienzas una discusión de 2 personas contra tí, deciden sacar un
        cuchillo y dejarte en el suelo. Reapareces en el Hospital, e
        inmediatamente te diriges a la zona donde fuiste abatido.
      </p>
    </ArticleWrited>

    <ArticleWrited title="CK | CHARACTER KILL">
      <p>
        El término CK significa la muerte permanente de tu personaje y sin
        posibilidad de tomar medidas.
      </p>
      <h4>Existen varios tipos de CK:</h4>

      <p>
        <span class="accent">CK Policial</span>: Cumplimiento de cadena perpetua
        y/o superar multas impagadas de 200.000$
      </p>
      <p class="separate">
        <span class="accent">CK Banda/Mafia</span>: Banda o Mafia decide
        quitarte de enmedio (se requieren pruebas)
      </p>
      <p class="separate">
        <span class="accent">CK Personal</span>: Tomas la decisión de suicidarte
        (se requieren motivos justificados, no se aceptará CK si es para evadir
        un rol)
      </p>
      <p class="separate">
        <span class="accent">CK Administrativo</span>: La administración decide
        que tu personaje debe morir
      </p>

      <div
        class="mt-[10px] text-center bg-[#F93D0A]/10 bg-blur w-full relative backdrop-blur backdrop-filter p-4 rounded-md shadow-xl"
      >
        <p>
          <span class="font-bold uppercase"
            >*Todos los CK serán revisados y comprobados por el Encargado de CK*</span
          >
        </p>
        <p>
          Además no se podrán realizar traspaso de bienes, sólo mantendrás en tu
          “nueva vida” las cosas de donación.
        </p>
      </div>
    </ArticleWrited>

    <ArticleWrited title="USO DEL /ME">
      <p>
        El /me es un comando que se utiliza para expresar nuestras acciones
        dentro del juego las cuales no se pueden contemplar visualmente, ya que
        no existen animaciones dentro del juego para ello.
      </p>
      <h4>Ejemplos del uso del /me:</h4>
      <ul>
        <li>/me abre la puerta del armario.</li>
        <li>/me abre la mochila y saca una libreta.</li>
      </ul>
    </ArticleWrited>

    <ArticleWrited title="USO DEL /DO">
      <p>
        El /do es un comando que se utiliza para expresar rol de entorno, o
        expresiones de nuestro personaje.
      </p>
      <p class="mt-[10px]">
        1. Con el /do no podremos expresar <span class="accent"
          >pensamientos</span
        > o <span class="accent">sentimientos</span>.
      </p>
      <p>2. El /do no se podrá emplear para sacar beneficio propio.</p>
      <p>3. Está terminantemente prohibido mentir a través del comando /do.</p>
      <h4>Ejemplos del uso del /me:</h4>
      <ul>
        <li>/do se vería como una grúa llega y se lleva el automóvil</li>
        <li>
          /do se vería toda la zona de comisaría llena de agentes de la ley
        </li>
      </ul>
    </ArticleWrited>

    <ArticleWrited title="ROL DE ENTORNO">
      <p>
        Es todo lo que ocurre a tu alrededor en la Ciudad, que no se puede
        contemplar por los límites que tiene el juego(policías, peatones,
        tráfico, cámaras de seguridad, etc.).
      </p>
      <h4>Ejemplos prácticos:</h4>
      <ul>
        <li>
          La comisario está llena de policías y cámaras de seguridad por lo que
          no podremos circular a altas velocidad por la comisaría (también se
          consideraría forzar rol).
        </li>
        <li>
          El hospital está lleno de seguridades y cámaras de seguridad por lo
          que no se podría realizar ningún acto delictivo.
        </li>
      </ul>
    </ArticleWrited>

    <ArticleWrited title="FAIRPLAY">
      <p>
        El <span class="accent">FairPlay</span> es el gusto de jugar limpiamente
        y disfrutar del rol por encima de intentar salir victorioso del rol. Debemos
        de dar oportunidad a otros jugadores y no jugar de manera tan competitiva.
      </p>
      <h4>Ejemplos del término FAIRPLAY:</h4>
      <ul>
        <li>
          Se realiza una persecución policial en la que tu como “delincuente”
          vas en una moto y decides meterte por un callejón donde el vehículo de
          la policía no puede entrar, sin dar ninguna oportunidad a la policía
          de seguir esa persecución.
        </li>
        <li>
          Eres miembro de una banda, y decides secuestrar a un miembro de otra y
          tomas la decisión de llevártelo a tu barrio, sin dar oportunidad a los
          miembros de la otra banda a entrar ya que existe un rol de entorno y
          no podrían entrar al barrio.
        </li>
      </ul>
    </ArticleWrited>
  </SectionWrited>

  <SectionWrited title="2. NORMATIVA GENERAL">
    <ArticleWrited title="VALORAR VIDA">
      <p>
        La existencia del personaje depende en todo momento de las acciones que
        decidas realizar con él, cada acción conlleva una reacción, ya sea del
        entorno o de otros jugadores. Por lo cual, deberemos ser conscientes de
        los peligros que enfrentamos, las consecuencias de cada una de las cosas
        que hagamos, etc...
      </p>
      <h4>Ejemplos prácticos:</h4>
      <ul>
        <li>
          Nos están apuntando con un arma, ya sea arma blanca o de fuego y
          decidimos reírnos de la persona o simplemente no hacer caso a lo que
          nos dicen. (Tenemos que valorar nuestra vida aún siendo una persona
          importante).
        </li>
      </ul>
      <p class="mt-[10px]">
        El no valorar vida será sancionable si el equipo de administración lo
        estima coherente, por lo cual deberás pensar más de una vez la forma en
        la que responderás a situaciones de riesgo.
      </p>
    </ArticleWrited>

    <ArticleWrited title="EVASIÓN DE ROL">
      <p>
        Se considera evasión de rol, evitar realizar un rol metiéndonos por
        ejemplo en una zona segura debido a que sabemos que el rol o no nos
        conviene o nos perjudica, también el quedarse AFK o desconectarse
        inmediatamente se considera evasión de rol.
      </p>
    </ArticleWrited>

    <ArticleWrited title="CORTAR ROL">
      <p>
        Todo rol debe tener un principio y final, si alguna de las partes
        cometió un error podrá ser reportado o aclarado una vez haya finalizado
        el rol. Está terminantemente prohibido frenar el rol, marcando el error
        escribiendo por /oop, mandar un reporte durante el rol, etc...
      </p>
    </ArticleWrited>

    <ArticleWrited title="FORZAR ROL">
      <p>
        Consideramos forzar el rol, el ir buscando a personas para molestarlos,
        insultarlos, llamar su atención, etc...
      </p>
      <h4>Ejemplos prácticos:</h4>
      <ul>
        <li>
          Vamos a comisaría con un coche a altas velocidades buscando que la
          policía nos persiga.
        </li>
        <li>
          Vemos el directo de un streamer y vamos a donde él está para buscar un
          rol (además de forzar rol se considera MG).
        </li>
      </ul>
    </ArticleWrited>

    <ArticleWrited title="ROL AJENO">
      <p>
        Consideramos un rol ajeno el meternos en un rol que no nos incumbe ni
        nos involucra.
      </p>
    </ArticleWrited>

    <ArticleWrited title="ROL SENSIBLE">
      <p>
        Para poder realizar un rol sensible deberemos de tener el consentimiento
        de la persona a la que se le va a realizar dicho rol. Para recibir el
        consentimiento, todo tendrá que ser acordado con antelación, esto quiere
        decir que ambas personas tendrán que estar de acuerdo. Será el atacante
        el que se encargue de consultar con la víctima; Si la víctima está en
        desacuerdo el rol seguirá pero sin esa parte. (Consultar por /msg).
      </p>
      <div
        class="mt-[10px] text-center bg-[#F93D0A]/10 bg-blur w-full relative backdrop-blur backdrop-filter p-4 rounded-md shadow-xl"
      >
        <p>
          <span class="font-bold uppercase"
            >*El único rol que queda terminantemente prohibido son las
            VIOLACIONES*</span
          >
        </p>
        <p>
          Las violaciones son algo que no se podrán ni pactar ni dialogar entre
          los usuarios.
        </p>
        <p class="text-red-400 font-semibold">
          ¡Esto conlleva una sanción permanente!
        </p>
      </div>
    </ArticleWrited>

    <ArticleWrited title="ZONAS SEGURAS">
      <p>Las zonas seguras, son zonas donde ningún jugador puede iniciar un rol agresivo.</p>
      <h4>Que zonas consideramos seguras en ProgresoRP:</h4>
      <ul>
        <li><span class="accent">GC (Garaje Central)</span></li>
        <li class="separate"><span class="accent">Hospital</span></li>
        <li class="separate"><span class="accent">Comisaria</span></li>
        <li class="separate"><span class="accent">Gimnasio</span></li>
        <li class="separate"><span class="accent">Bancos y cajeros <span class="text-xs">(excepto atraco a banco)</span></span></li>
        <li class="separate"><span class="accent">Concesionario (interior)</span></li>
      </ul>
      <p class="mt-[10px] italic text-gray-500">Si alguien realiza un rol y se mete en zona segura para “evadir” el rol continua</p>
    </ArticleWrited>
  </SectionWrited>
</Layout>

<style>
  h4 {
    font-style: italic;
    margin-top: 10px;
    text-transform: capitalize;
    font-weight: bold;
  }

  .accent {
    background: #1fc1d721;
    padding-inline: 3px;
    padding-top: 1px;
    padding-bottom: 2px;
    border-radius: 3px;
    font-weight: bold;
  }

  .separate {
    margin-top: 5px;
  }

  ul {
    list-style: inside;
    margin-left: 10px;
  }
</style>
