---
const {title} = Astro.props
---
<article
  class="flex flex-col my-5 items-start p-2 rounded-md bg-transparent outline-none resize-none border-l-[1px] border-sky-50/30 hover:border-sky-300/60 transition-colors duration-300"
>
  <h3 class="font-pricedown text-3xl uppercase">{title}:</h3>
  <slot />
</article>
