---
import rangos from "./rangos.json";
---

<div class="grid lg:grid-cols-1 xl:grid-cols-2 gap-5">
  {
    rangos.map(({ image, rango, texto }) => (
      <article class="flex flex-row p-2 gap-2 justify-start items-start rounded-md shadow-2xl bg-[#B1DAF8]/10 bg-blur backdrop-blur backdrop-filter">
        <img
          class="size-44 rounded-sm"
          src={image}
          alt={rango}
        />
        <div>
          <h2>{rango}</h2>
          <p>
            {texto}
          </p>
        </div>
      </article>
    ))
  }
</div>
