<div class="grid lg:grid-cols-1 xl:grid-cols-2 gap-5">
    <article class="flex flex-row p-2 gap-2 justify-start items-start rounded-md shadow-2xl bg-[#B1DAF8]/10 bg-blur backdrop-blur backdrop-filter">
        <img class="size-44 rounded-sm" src="https://static.vecteezy.com/system/resources/previews/019/664/835/non_2x/military-rank-icon-symbol-design-templates-vector.jpg" alt="">
        <div>
            <h2>Nombre del agente</h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptate nobis placeat laudantium neque ipsa odit blanditiis nostrum voluptatibus est iure animi amet iusto, impedit laborum ex totam corrupti quod dolor eos voluptas quo dolorum repudiandae. Praesentium illum ab sunt voluptate.</p>
        </div>
    </article>
    <article class="flex flex-row p-2 gap-2 justify-start items-start rounded-md shadow-2xl bg-[#B1DAF8]/10 bg-blur backdrop-blur backdrop-filter">
        <img class="size-44 rounded-sm" src="https://static.vecteezy.com/system/resources/previews/019/664/835/non_2x/military-rank-icon-symbol-design-templates-vector.jpg" alt="">
        <div>
            <h2>Nombre del agente</h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptate nobis placeat laudantium neque ipsa odit blanditiis nostrum voluptatibus est iure animi amet iusto, impedit laborum ex totam corrupti quod dolor eos voluptas quo dolorum repudiandae. Praesentium illum ab sunt voluptate.</p>
        </div>
    </article>
    <article class="flex flex-row p-2 gap-2 justify-start items-start rounded-md shadow-2xl bg-[#B1DAF8]/10 bg-blur backdrop-blur backdrop-filter">
        <img class="size-44 rounded-sm" src="https://static.vecteezy.com/system/resources/previews/019/664/835/non_2x/military-rank-icon-symbol-design-templates-vector.jpg" alt="">
        <div>
            <h2>Nombre del agente</h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptate nobis placeat laudantium neque ipsa odit blanditiis nostrum voluptatibus est iure animi amet iusto, impedit laborum ex totam corrupti quod dolor eos voluptas quo dolorum repudiandae. Praesentium illum ab sunt voluptate.</p>
        </div>
    </article>
    <article class="flex flex-row p-2 gap-2 justify-start items-start rounded-md shadow-2xl bg-[#B1DAF8]/10 bg-blur backdrop-blur backdrop-filter">
        <img class="size-44 rounded-sm" src="https://static.vecteezy.com/system/resources/previews/019/664/835/non_2x/military-rank-icon-symbol-design-templates-vector.jpg" alt="">
        <div>
            <h2>Nombre del agente</h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptate nobis placeat laudantium neque ipsa odit blanditiis nostrum voluptatibus est iure animi amet iusto, impedit laborum ex totam corrupti quod dolor eos voluptas quo dolorum repudiandae. Praesentium illum ab sunt voluptate.</p>
        </div>
    </article>
</div>