---
import LinkDropdown from "./LinkDropdown.astro";

import GaleriaIcon from "../icons/GaleriaIcon.astro";
import CalendarioIcon from "../icons/CalendarioIcon.astro";
import MapasIcon from "../icons/MapasIcon.astro";
import CarIcon from "../icons/CarIcon.astro";
import UploadIcon from "../icons/UploadIcon.astro";
import PreguntasIcon from "../icons/PreguntasIcon.astro";
import CreditIcon from "../icons/CreditIcon.astro";
import BuildIcon from "../icons/BuildIcon.astro";
import MailIcon from "../icons/MailIcon.astro";
---

<div class="relative inline-block text-left">
  <div>
    <button
      class="transition hover:scale-110 duration-300"
      type="button"
      id="menu-button"
      aria-expanded="true"
      aria-haspopup="true"
    >
      Más
    </button>
  </div>

  <div
    class="absolute hidden -left-36 z-10 mt-5 w-[234px] origin-top-right divide-y divide-gray-700 rounded-md bg-gray-800 border-gray-700 shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none"
    role="menu"
    aria-orientation="vertical"
    aria-labelledby="menu-button"
    tabindex="-1"
  >
    <div class="" role="none">
      <LinkDropdown go="/" rounded="rounded-t">
        <GaleriaIcon w="16" h="16" />
        Gáleria
      </LinkDropdown>
      <LinkDropdown>
        <CalendarioIcon w="16" h="16" />
        Calendario
      </LinkDropdown>
    </div>
    <div class="" role="none">
      <LinkDropdown go="/">
        <MapasIcon w="16" h="16" />
        Mapeados
      </LinkDropdown>
      <LinkDropdown go="/">
        <CarIcon w="16" h="16" />
        Vehiculos
      </LinkDropdown>
    </div>
    <div class="" role="none">
      <LinkDropdown go="/">
        <UploadIcon w="16" h="16" />
        Actualizaciones
      </LinkDropdown>
      <LinkDropdown go="/">
        <PreguntasIcon w="16" h="16" />
        Preguntas Frecuentes
      </LinkDropdown>
      <LinkDropdown go="/">
        <CreditIcon w="16" h="16" />
        Donaciones
      </LinkDropdown>
    </div>
    <div class="" role="none">
      <LinkDropdown go="/">
        <BuildIcon w="16" h="16" />
        Sobre Nosotros
      </LinkDropdown>
      <LinkDropdown go="/" rounded="rounded-b">
        <MailIcon w="16" h="16" />
        Contacto
      </LinkDropdown>
    </div>
  </div>
</div>

<script>
  const menuButton = document.getElementById("menu-button");
  const menu = document.querySelector(".absolute");

  let isOpen = false;

  if (menuButton && menu) {
    menuButton.addEventListener("click", () => {
      toggleMenu();
    });

    // Event listener para cerrar el menú si se hace clic fuera de él
    document.addEventListener("click", (event) => {
      // Verificar si event.target es un nodo (Node) y no es nulo
      const isNode = event.target instanceof Node;
      const isClickInsideMenu = isNode && menu.contains(event.target);
      const isClickOnMenuButton = isNode && event.target === menuButton;

      if (!isClickInsideMenu && !isClickOnMenuButton && isOpen) {
        toggleMenu();
      }
    });
  }

  function toggleMenu() {
    isOpen = !isOpen;
    const animationDirection = isOpen ? "animate-normal" : "animate-reverse";

    menu?.classList.remove(`animate-flip-down`);

    // Esperamos un pequeño tiempo antes de aplicar la animación para asegurarnos de que la clase se aplique correctamente
    setTimeout(() => {
      menu?.classList.remove("hidden");
      menu?.classList.add(
        `animate-flip-down`,
        "animate-duration-1000",
        "animate-ease-in-out",
        `${animationDirection}`
      );

      // Ocultamos el menú después de que termine la animación
      if (!isOpen) {
        setTimeout(() => {
          menu?.classList.add("hidden");
          menu?.classList.remove(`${animationDirection}`);
        }, 1000); // Ajusta este tiempo según la duración de tu animación
      }
    }, 50); // Ajusta este tiempo según necesites
  }
</script>
