---
const { go, name, rounded } = Astro.props;
---

<li>
  <a
    href={go}
    class=`block py-2 px-3 ${rounded} text-gray-900 hover:bg-gray-100 text-gray-400 hover:bg-gray-700 hover:text-white border-b-[0.5px] border-gray-700`
    aria-current="page"
  >
    <div class=`flex flex-row items-center gap-2 ${rounded}`>
      <slot />
      <p class="mt-0.5">{name}</p>
    </div>
  </a>
</li>
