---
import LinkAncorMobile from "./LinkAncorMobile.astro";

import HomeIcon from "@components/icons/HomeIcon.astro";
import NormasIcon from "@components/icons/NormasIcon.astro";
import ServidorIcon from "@components/icons/ServidorIcon.astro";
import CalendarioIcon from "@components/icons/CalendarioIcon.astro";
import GaleriaIcon from "@components/icons/GaleriaIcon.astro";
import DiscordIcon from "@components/icons/DiscordIcon.astro";
---

<nav class="md:hidden fixed top-0 z-10 w-full border-gray-200">
  <div>
    <div
      class="flex flex-wrap items-center justify-between mx-auto p-4 bg-blur backdrop-blur backdrop-filter"
    >
      <a href="/" class="flex items-center space-x-3 rtl:space-x-reverse">
        <img src="/img/logo.webp" class="h-8" alt="Logo del servidor de roleplay" />
        <span
          class="self-center font-pricedown uppercase text-2xl font-semibold whitespace-nowrap dark:text-white"
          >ProgresoRP</span
        >
      </a>
      <button
        data-collapse-toggle="navbar-hamburger"
        type="button"
        id="menuButton"
        class="inline-flex items-center justify-center p-2 w-10 h-10 text-sm text-gray-500 rounded-lg hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
        aria-controls="navbar-hamburger"
        aria-expanded="false"
      >
        <span class="sr-only">Open main menu</span>
        <svg
          class="w-5 h-5"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 17 14"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M1 1h15M1 7h15M1 13h15"></path>
        </svg>
      </button>
    </div>
    <div class="hidden w-full" id="navbar-hamburger">
      <ul
        class="flex flex-col font-medium rounded-b-lg bg-gray-50 dark:bg-gray-800 dark:border-gray-700"
      >
        <LinkAncorMobile go="/" name="Inicio"><HomeIcon w="20" h="20" /></LinkAncorMobile>
        <LinkAncorMobile go="#" name="Normas"><NormasIcon w="20" h="20" /></LinkAncorMobile>
        <LinkAncorMobile go="#" name="Servidor"><ServidorIcon w="20" h="20" /></LinkAncorMobile>
        <LinkAncorMobile go="#" name="Calendario"><CalendarioIcon w="20" h="20" /></LinkAncorMobile>
        <LinkAncorMobile go="#" name="Gáleria"><GaleriaIcon w="20" h="20" /></LinkAncorMobile>
        <LinkAncorMobile go="#" name="Servidor Discord" rounded="rounded-b-lg"><DiscordIcon w="20" h="20" /></LinkAncorMobile>
      </ul>
    </div>
  </div>
</nav>

<script>
  const menuButton: HTMLElement | null = document.getElementById("menuButton");
  const menu: HTMLElement | null = document.getElementById("navbar-hamburger");

  if (menuButton && menu) {
    menuButton.addEventListener("click", () => {
      const expanded: boolean =
        menuButton.getAttribute("aria-expanded") === "true" || false;
      menuButton.setAttribute("aria-expanded", String(!expanded));
      menu.classList.toggle("hidden");
    });
  }
</script>
