---
import LinkAncor from "./LinkAncor.astro";
import DropdownNavBar from './DropdownNavBar.astro'
import DiscordIcon from "../icons/DiscordIcon.astro";
---

<nav class="hidden md:flex flex-row justify-center items-center gap-3">
  <div class="min-w-64">
    <header class="flex flex-row justify-around items-center">
      <LinkAncor go="/">Inicio</LinkAncor>
      <LinkAncor go="/normas">Normas</LinkAncor>
      <LinkAncor go="/">Documentación</LinkAncor>
    </header>
    <footer>
      <hr class="mt-4 h-px border-t-0 bg-transparent bg-gradient-to-r from-transparent via-slate-200 to-white opacity-65 animate-fade-right animate-duration-1000 animate-ease-in-out" />
    </footer>
  </div>
  <div>
    <img
      class="w-24 mt-6 drop-shadow-xl"
      src="/img/logo.webp"
      alt="Logo del servidor de roleplay"
    />
  </div>
  <div class="min-w-56">
    <header class="flex flex-row justify-around items-center">
      <LinkAncor go="/">Blog</LinkAncor>
      <LinkAncor go="/">Eventos</LinkAncor>
      <DropdownNavBar />
      <a href="https://discord.gg/KhAfaVaDnw" target="_blank" rel="noopener nooreferer"
        ><DiscordIcon w="24" h="24" class="" /></a
      >
    </header>
    <footer>
      <hr class="mt-4 h-px border-t-0 bg-transparent bg-gradient-to-l from-transparent via-slate-200 to-white opacity-65 animate-fade-left animate-duration-1000 animate-ease-in-out" />
    </footer>
  </div>
</nav>
