---
import LinkAncorMobile from "./LinkAncorMobile.astro";

// import BlogIcon from "../icons/BlogIcon.astro";
// import BuildIcon from "../icons/BuildIcon.astro";
// import CalendarioIcon from "../icons/CalendarioIcon.astro";
// import CarIcon from "../icons/CarIcon.astro";
// import CreditIcon from "../icons/CreditIcon.astro";
import DiscordIcon from "../icons/DiscordIcon.astro";
// import DocumentacionIcon from "../icons/DocumentacionIcon.astro";
// import EventIcon from "../icons/EventIcon.astro";
// import GaleriaIcon from "../icons/GaleriaIcon.astro";
import HomeIcon from "../icons/HomeIcon.astro";
// import MailIcon from "../icons/MailIcon.astro";
// import MapasIcon from "../icons/MapasIcon.astro";
import NormasIcon from "../icons/NormasIcon.astro";
// import PreguntasIcon from "../icons/PreguntasIcon.astro";
import UploadIcon from "../icons/UploadIcon.astro";
---

<nav class="md:hidden fixed top-0 z-10 w-full border-gray-200">
  <div>
    <div
      class="flex flex-wrap items-center justify-between mx-auto p-4 bg-blur backdrop-blur backdrop-filter"
    >
      <a href="/" class="flex items-center space-x-3 rtl:space-x-reverse">
        <img
          src="/img/logo.webp"
          class="h-8"
          alt="Logo del servidor de roleplay"
        />
        <span
          class="self-center font-pricedown uppercase text-2xl font-semibold whitespace-nowrap text-white"
          >ProgresoRP</span
        >
      </a>
      <button
        data-collapse-toggle="navbar-hamburger"
        type="button"
        id="menuButton"
        class="inline-flex items-center justify-center p-2 w-10 h-10 text-smrounded-lg focus:outline-none focus:ring-2 text-gray-400 hover:bg-gray-700 focus:ring-gray-600"
        aria-controls="navbar-hamburger"
        aria-expanded="false"
      >
        <span class="sr-only">Open main menu</span>
        <svg
          class="w-5 h-5"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 17 14"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M1 1h15M1 7h15M1 13h15"></path>
        </svg>
      </button>
    </div>
    <div class="hidden w-full" id="navbar-hamburger">
      <ul
        class="flex flex-col font-medium rounded-b-lg bg-gray-800 border-gray-700"
      >
        <LinkAncorMobile go="/" name="Inicio">
          <HomeIcon w="20" h="20" />
        </LinkAncorMobile>
        <LinkAncorMobile go="/normas" name="Normas">
          <NormasIcon w="20" h="20" />
        </LinkAncorMobile>
        <!--
        <LinkAncorMobile go="#" name="Documentación">
          <DocumentacionIcon w="20" h="20" />
        </LinkAncorMobile>
        <LinkAncorMobile go="#" name="Blog">
          <BlogIcon w="20" h="20" />
        </LinkAncorMobile>
        <LinkAncorMobile go="#" name="Eventos">
          <EventIcon w="20" h="20" />
        </LinkAncorMobile>
        <LinkAncorMobile go="#" name="Gáleria">
          <GaleriaIcon w="20" h="20" />
        </LinkAncorMobile>
        <LinkAncorMobile go="#" name="Calendario">
          <CalendarioIcon w="20" h="20" />
        </LinkAncorMobile>
        <LinkAncorMobile go="#" name="Mapeados">
          <MapasIcon w="20" h="20" />
        </LinkAncorMobile>
        <LinkAncorMobile go="#" name="Vehiculos">
          <CarIcon w="20" h="20" />
        </LinkAncorMobile> -->
        <LinkAncorMobile go="/actualizaciones" name="Actualizaciones">
          <UploadIcon w="20" h="20" />
        </LinkAncorMobile>
        <!-- 
        <LinkAncorMobile go="#" name="Preguntas Frecuentes">
          <PreguntasIcon w="20" h="20" />
        </LinkAncorMobile>
        <LinkAncorMobile go="#" name="Donaciones">
          <CreditIcon w="20" h="20" />
        </LinkAncorMobile>
        <LinkAncorMobile go="#" name="Sobre Nosotros">
          <BuildIcon w="20" h="20" />
        </LinkAncorMobile>
        <LinkAncorMobile go="#" name="Contacto">
          <MailIcon w="20" h="20" />
        </LinkAncorMobile> -->
        <LinkAncorMobile
          go="https://discord.gg/KhAfaVaDnw"
          name="Servidor Discord"
          rounded="rounded-b-lg"
        >
          <DiscordIcon w="20" h="20" />
        </LinkAncorMobile>
      </ul>
    </div>
  </div>
</nav>

<script>
  const menuButton = document.getElementById("menuButton");
  const menu = document.getElementById("navbar-hamburger");

  let isOpen = false;

  if (menuButton && menu) {
    menuButton.addEventListener("click", () => {
      isOpen = !isOpen;
      const animationDirection = isOpen ? "animate-normal" : "animate-reverse";

      menu.classList.remove(`animate-flip-down`);

      // Esperamos un pequeño tiempo antes de aplicar la animación para asegurarnos de que la clase se aplique correctamente
      setTimeout(() => {
        menu.classList.remove("hidden");
        menu.classList.add(
          `animate-flip-down`,
          "animate-duration-1000",
          "animate-ease-in-out",
          `${animationDirection}`
        );

        // Ocultamos el menú después de que termine la animación
        if (!isOpen) {
          setTimeout(() => {
            menu.classList.add("hidden");
            menu.classList.remove(`${animationDirection}`);
          }, 1000); // Ajusta este tiempo según la duración de tu animación
        }
      }, 50); // Ajusta este tiempo según necesites
    });
  }
</script>
