<header class="flex flex-col gap-2">
  <h1
    id="text"
    class="text-3xl md:text-4xl text-center uppercase font-pricedown drop-shadow-xl"
  >
    Descubre una nueva aventura donde podras ser quien quieras
  </h1>
  <p class="text-xs md:text-base text-center text-secondary">
    Sigue los siguientes pasos para unirte a nosotros:
  </p>
</header>
<section class="flex flex-wrap justify-around py-10 gap-x-3 gap-y-5">
  <div class="flex flex-wrap justify-between gap-x-4 gap-y-5">
    <article
      class="bg-[#B1DAF8]/10 bg-blur backdrop-blur backdrop-filter p-5 w-full h-auto md:w-[300px] md:h-[250px] rounded-md shadow-2xl flex flex-col justify-between"
    >
      <!-- Añadido flex-direction: column y align-items: center -->
      <header>
        <h3 class="text-xl text-center font-bold drop-shadow-md mb-4">
          COMPRE E INSTALE GTA V
        </h3>
        <p class="text-sm text-pretty mb-8 md:mb-0">
          Adquiere el GTA V para PC original e instálalo en tu equipo, steam y
          epicgames son compatibles
        </p>
      </header>
      <footer class="flex justify-center">
        <!-- Modificado para flex y justify-center -->
        <button id="btn">Comprar</button>
      </footer>
    </article>

    <article
      class="bg-[#B1DAF8]/10 bg-blur backdrop-blur backdrop-filter p-5 w-full h-auto md:w-[300px] md:h-[250px] rounded-md shadow-2xl flex flex-col justify-between"
    >
      <!-- Añadido flex-direction: column y align-items: center -->
      <header>
        <h3 class="text-xl text-center font-bold drop-shadow-md mb-4">
          NUESTRA COMUNIDAD
        </h3>
        <p class="text-sm text-pretty mb-8 md:mb-0">
          Crea tu cuenta, da tus primeros pasos y conoce nuevas personas.
          Descubre todo lo que tenemos para ti
        </p>
      </header>
      <footer class="flex justify-center">
        <!-- Modificado para flex y justify-center -->
        <button id="btn">Acceder al discord</button>
      </footer>
    </article>
  </div>
  <div class="flex flex-wrap justify-between gap-x-4 gap-y-5">
    <article
      class="bg-[#B1DAF8]/10 bg-blur backdrop-blur backdrop-filter p-5 w-full h-auto md:w-[300px] md:h-[250px] rounded-md shadow-2xl flex flex-col justify-between"
    >
      <!-- Añadido flex-direction: column y align-items: center -->
      <header>
        <h3 class="text-xl text-center font-bold drop-shadow-md mb-4">
          DESCARGAR FIVE M
        </h3>
        <p class="text-sm text-pretty mb-8 md:mb-0">
          El servidor se aloja en una plataforma que ofrece una infinidad de
          posibilidades.
        </p>
      </header>
      <footer class="flex justify-center">
        <!-- Modificado para flex y justify-center -->
        <button id="btn">Descargar</button>
      </footer>
    </article>
    <article
      class="bg-[#B1DAF8]/10 bg-blur backdrop-blur backdrop-filter p-5 w-full h-auto md:w-[300px] md:h-[250px] rounded-md shadow-2xl flex flex-col justify-between"
    >
      <!-- Añadido flex-direction: column y align-items: center -->
      <header>
        <h3 class="text-xl text-center font-bold drop-shadow-md mb-4">
          CREA UN PERSONAJE
        </h3>
        <p class="text-sm text-pretty mb-8 md:mb-0">
          Personalízalo a tu gusto, define su historia e interactúa con los
          personajes de los demás jugadores.
        </p>
      </header>
      <footer class="flex justify-center">
        <!-- Modificado para flex y justify-center -->
        <button id="btn">Crear Personaje</button>
      </footer>
    </article>
  </div>
</section>

<style>
  button {
    padding: 10px 20px;
    text-transform: uppercase;
    border-radius: 8px;
    font-size: 17px;
    font-weight: 500;
    color: #ffffff80;
    text-shadow: none;
    background: transparent;
    cursor: pointer;
    box-shadow: transparent;
    border: 1px solid #ffffff80;
    transition: 0.5s ease;
    user-select: none;
  }

  #btn:hover,
  :focus {
    color: #ffffff;
    background: #008cff;
    border: 1px solid #008cff;
    text-shadow:
      0 0 5px #ffffff,
      0 0 10px #ffffff,
      0 0 20px #ffffff;
    box-shadow:
      0 0 5px #008cff,
      0 0 20px #008cff,
      0 0 50px #008cff,
      0 0 100px #008cff;
  }
</style>
