---
import DiscordIcon from "@components/icons/DiscordIcon.astro";
---

<nav class="hidden md:flex flex-row justify-center items-center gap-3">
  <div class="min-w-64">
    <header class="flex flex-row justify-around items-center">
      <a href="">Inicio</a>
      <a href="">Normas</a>
      <a href="">Servidor</a>
    </header>
    <footer>
      <hr class="mt-4" />
    </footer>
  </div>
  <div>
    <img
      class="w-28 mt-8"
      src="/img/logo.webp"
      alt="Logo del servidor de roleplay"
    />
  </div>
  <div class="min-w-56">
    <header class="flex flex-row justify-around items-center">
      <a href="">Calendario</a>
      <a href="">Gáleria</a>
      <a href="https://discord.gg/mfczWk65"><DiscordIcon w="24" h="24" class="" /></a>
    </header>
    <footer>
      <hr class="mt-4" />
    </footer>
  </div>
</nav>


<nav
  class="md:hidden fixed top-0 w-full border-gray-200 bg-blur backdrop-blur backdrop-filter"
>
  <div class="flex flex-wrap items-center justify-between mx-auto p-4">
    <a href="#" class="flex items-center space-x-3 rtl:space-x-reverse">
      <img src="/img/logo.webp" class="h-8" alt="Flowbite Logo" />
      <span
        class="self-center font-pricedown uppercase text-2xl font-semibold whitespace-nowrap dark:text-white"
        >ProgresoRP</span
      >
    </a>
    <button
      data-collapse-toggle="navbar-hamburger"
      type="button"
      id="menuButton"
      class="inline-flex items-center justify-center p-2 w-10 h-10 text-sm text-gray-500 rounded-lg hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
      aria-controls="navbar-hamburger"
      aria-expanded="false"
    >
      <span class="sr-only">Open main menu</span>
      <svg
        class="w-5 h-5"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 17 14"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M1 1h15M1 7h15M1 13h15"></path>
      </svg>
    </button>
    <div class="hidden w-full" id="navbar-hamburger">
      <ul
        class="flex flex-col font-medium mt-4 rounded-lg bg-gray-50 dark:bg-gray-800 dark:border-gray-700"
      >
        <li>
          <a
            href="/"
            class="block py-2 px-3 text-white rounded bg-[#344d5a]"
            aria-current="page">Inicio</a
          >
        </li>
        <li>
          <a
            href="#"
            class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
            >Normas</a
          >
        </li>
        <li>
          <a
            href="#"
            class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white"
            >Servidor</a
          >
        </li>
        <li>
          <a
            href="#"
            class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
            >Calendario</a
          >
        </li>
        <li>
          <a
            href="#"
            class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
            >Gáleria</a
          >
        </li>
        <li>
          <a
            href="#"
            class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
            >Servidor Discord</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>

<script>
  const menuButton = document.getElementById("menuButton");
  const menu = document.getElementById("navbar-hamburger");

  menuButton.addEventListener("click", () => {
    const expanded =
      menuButton.getAttribute("aria-expanded") === "true" || false;
    menuButton.setAttribute("aria-expanded", !expanded);
    menu.classList.toggle("hidden");
  });
</script>
