---
---

<header class="flex flex-col gap-2">
  <h1 class="text-3xl md:text-4xl text-center uppercase font-pricedown drop-shadow-xl">
    Descubre una nueva aventura donde puedes demostrar quien eres
  </h1>
  <p class="text-xs md:text-base text-center text-secondary">
    Sigue los siguientes pasos para unirte a nosotros:
  </p>
</header>
