---

---

<header class="flex flex-col gap-2">
  <h1 class="responsive-text text-center uppercase font-pricedown text-pretty drop-shadow-xl">
    Descubre una nueva aventura donde puedes demostrar quien eres
  </h1>
  <p class="text-center text-base text-secondary">
    Sigue los siguientes pasos para unirte a nosotros:
  </p>
</header>

<style>
    .responsive-text{
        font-size: clamp(20px, 4vw, 40px);
    }
</style>