<div class="mb-6">
  <label class="block text-sm font-semibold mb-1" for="slug">
    Imagen de la Portada:
  </label>
  <p class="text-xs text-slate-600 italic mb-3">
    Aquí puedes guardar tu imagen y obtener una URL de la misma.
    <a
      class="hover:text-slate-400 transition-colors duration-300"
      target="_blank"
      rel="noopener noreferrer"
      href="https://imgbb.com/"
      >
      (imgbb)
    </a>
  </p>

  <input
    id="imagepost"
    class="p-2 rounded-md mb-2 bg-sky-50/5 outline-none resize-none border-l-2 border-sky-50/20 focus:border-l-2 focus:border-sky-300/60 focus:bg-sky-50/10 transition duration-300 w-full"
    type="text"
    name="imagepost"
    required
    placeholder="https://example.com/image.webp"
  />
</div>
