<div class="mb-6">
  <label class="block text-sm font-semibold mb-3" for="title"
    >Título del Artículo:</label
  >
  <input
    id="title"
    class="p-2 rounded-md mb-2 bg-sky-50/5 outline-none resize-none border-l-2 border-sky-50/20 focus:border-l-2 focus:border-sky-300/60 focus:bg-sky-50/10 transition duration-300 w-full"
    type="text"
    name="title"
    required
  />
</div>
