<div class="mb-6">
  <label class="block text-sm font-semibold mb-3" for="slug">URL:</label>
  <input
    id="slug"
    class="p-2 rounded-md mb-2 bg-sky-50/5 outline-none resize-none border-l-2 border-sky-50/20 focus:border-l-2 focus:border-sky-300/60 focus:bg-sky-50/10 transition duration-300 w-full"
    type="text"
    name="slug"
    required
    placeholder="esta-sera-la-url-del-post"
  />
</div>
