---
import SEO from "../components/SEO.astro";

import BackgroundBlur from "../components/BackgroundBlur.astro";

import NavBar from "../components/navbar/NavBar.astro";

interface Props {
  description: string;
  title: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <SEO title={title} description={description} />
  </head>
  <body class="w-full flex flex-col justify-center items-center">
    <BackgroundBlur />
    <NavBar />
    <div class="max-w-7xl w-[100%] p-4 mt-20">
      <slot />
    </div>

    <style is:global>
      @tailwind base;
      @tailwind components;
      @tailwind utilities;

      :root {
        --color-primary: #ddd;
        --color-secondary: #b4b4b4;
        --color-accent: #b1daf8;

        --color-gradient1: #08415c;
        --color-gradient2: #90c3c8;

        --background-color: #041925;
      }

      @font-face {
        font-family: Pricedown;
        src: url("/fonts/pricedown.ttf");
      }

      html {
        font-family: "Jost", system-ui, sans-serif;
        background: var(--background-color);
        overflow-x: hidden;
        overscroll-behavior: none;
        color-scheme: dark light;
        color: white;
      }

      main {
        position: relative;
      }

      /* Configuracion de la barra del scroll de la web */
      .sr-only:not(:focus):not(:active) {
        clip: rect(0 0 0 0);
        clip-path: inset(50%);
        height: 1px;
        overflow: hidden;
        position: absolute;
        white-space: nowrap;
        width: 1px;
      }

      ::-webkit-scrollbar {
        width: 10px;
        border-radius: 10px;
      }

      ::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: theme("colors.primary");
        border: 2px solid transparent;
        background-clip: content-box;
      }

      ::-webkit-scrollbar-thumb:active {
        background-color: #666;
      }

      ::-webkit-scrollbar-track {
        background: var(--background-image);
      }

      ::-webkit-scrollbar-corner {
        background: var(--background-image);
      }
    </style>
  </body>
</html>
